<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}"/>
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/common/fancybox-1.3.4/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/css/nanoscroller.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/css/styles.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    {% endblock %}
	<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('/favicon.png?ver=5') }}">
</head>
<body>
{% set menuTop = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_top'}) %}
{% set menuBottom = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_bottom'}) %}
{% set currentRoute = app.request.attributes.get('_route') %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
			<a href="javascript: toggleNav()" class="toggle-nav">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</a>
			<p class="uppercase menu">Menu</p>
			<p class="pull-right" id="phone">+48 <strong>{{ cms_config.get('telefon', '') }}</strong></p>
            <a class="navbar-brand logo" href="{{ path('ls_core_homepage') }}"></a>
        </div>
        <div class="rwd-nav">
			<div class="close-nav toggle-nav">
				<a href="javascript: hideNav()" class="close-nav"><img src="{{ asset('bundles/lscore/front/images/close-nav-button.png') }}" alt="wróć" /></a><span>MENU</span>
			</div>
            {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
        </div>
    </div>
</nav>
<nav class="navbar-sticky navbar-default" style="display: none;" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
			<a href="javascript: toggleNav()" class="toggle-nav">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</a>
			<p class="uppercase menu">Menu</p>
			<p class="pull-right">+48 <strong>{{ cms_config.get('telefon', '') }}</strong></p>
            <a class="navbar-brand logo" href="{{ path('ls_core_homepage') }}"></a>
        </div>
        <div class="rwd-nav">
			<div class="close-nav toggle-nav">
				<a href="javascript: hideNav()" class="close-nav"><img src="{{ asset('bundles/lscore/front/images/close-nav-button.png') }}" alt="wróć" /></a><span>MENU</span>
			</div>
            {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
        </div>
    </div>
</nav>

{% block content %}{% endblock %}
    
{{ render(controller('LsAdvBundle:Front:index')) }}

{% block javascripts %}
    <script src="{{ asset('bundles/lscore/common/jquery-1.12.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/fancybox-1.3.4/jquery.fancybox-1.3.4.pack.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/bootstrap-3.3.6/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/cycle2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/carousel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/nanoscroller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/stellar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/scripts.js') }}" type="text/javascript"></script>
{% endblock %}

</body>
</html>
