    <div class="gallery-offer-listing">
        <div class="container">
            <ul class="unstyled inline slideshow-main cycle-slideshow"
                data-cycle-fx="fade"
                data-cycle-timeout=0
                data-cycle-slides="> li"
                data-cycle-next=".controls #next"
                data-cycle-prev=".controls #prev"
                >
                {% for photo in gallery.photos%}
                <li>
                    <div class="img-container">
                        <img src="{{ photo.getPhotoWebPath() }}?{{ random(10000) }}" class="block-image main-image" alt="alt" />
                    </div>
                </li>
                {% endfor %}
            </ul>
            <ul class="unstyled inline slideshow-pager cycle-slideshow"
                data-cycle-fx="carousel"
                data-cycle-timeout=0
                data-cycle-slides="li"
                data-cycle-carousel-visible="3"
                data-allow-wrap=false	
                data-cycle-next=".controls-pager #next"
                data-cycle-prev=".controls-pager #prev"
                >
                {% for photo in gallery.photos%}
                <li>
                    <div class="img-container">
                        <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" class="block-image" alt="alt" />
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="controls">
                <ul>
                    <li>
                        <a href="" id="prev">
                            <img src="{{ asset('bundles/lscore/front/images/prev.png') }}" alt="next" />
                        </a>
                    </li>
                    <li>
                        <a href="" id="next">
                            <img src="{{ asset('bundles/lscore/front/images/next.png') }}" alt="next" />
                        </a>
                    </li>
                </ul>
            </div>
            {% if gallery.photos|length > 3 %}
                <div class="controls-pager">
                    <ul>
                        <li id="prev">
                            <a href="" >
                                <img src="{{ asset('bundles/lscore/front/images/prev.png') }}" alt="next" />
                            </a>
                        </li>
                        <li id="next">
                            <a href="">
                                <img src="{{ asset('bundles/lscore/front/images/next.png') }}" alt="next" />
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>