{% for article in entities %}
    <div class="item">
        <a href="{{ path('ls_gallery_show', {'slug': article.slug}) }}" class="title">{{ article.title }}</a>

        <div class="clearfix"></div>
    </div>
{% endfor %}
