{% extends '::frontend.html.twig' %}

{% block title %}Aktualności - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        {% include "LsNewsBundle:Front:list.html.twig" with {'entities': entities} %}
    </div>
{% endblock %}