    <div class="container">
        <div class="content">
			<a class="subpage-link back-link elipse-btn-with-arrow go-back-news" href="javascript: goBackNews();">
				<img src="{{ asset('bundles/lscore/front/images/back-arrow.png') }}" alt="zobacz więcej" /><span>Wróć</span>
			</a>
            <div class="rest{% if entity.getPhotoWebPath != null %} has-photo{% endif %}">
                <h2 class="title">{{ entity.title }}</h2>
                <div class="date">{{ entity.publishedat|date('d.m.Y') }}</div>
				<div class="short-line"></div>
				<div class="column-content">
					<p class="content-text">{{ entity.content|raw }}</p>
				</div>
                {% if entity.gallery %}
                    <div class="news-gallery">
                        {% include "LsGalleryBundle:Front:_newshasgallery.html.twig" with { gallery: entity.gallery } %}
                    </div>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>