{% if entity is not empty %}
    {% if app.session.get('popup') != session_value and entity.link is not null and entity.getPhotoWebPath() is not empty %}
        <div id="allpopup" data-cookie="popup" style="" class="fadein">
        	<div class="image">
	            <a href="{{ entity.link }}" onclick="closePopup('{{ path('ls_adv_close', {'value': session_value }) }}'); return true;" style="float: left; width: 100%;">
	                <img src="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" style="float: left; max-width: 100%; max-height: 100%;">
	            </a>
                <div class="close-popup" onclick="closePopup('{{ path('ls_adv_close', {'value': session_value }) }}');$('#allpopup').remove();"></div>
	        </div>
        </div>
    {% endif %}
{% endif %}
