{% extends '::frontend.html.twig' %}
{% block content %}
    <header id="header">
		<div class="container">
			<nav id="upper-nav">
				{{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
			</nav>
			<nav class="sticky-nav">
				{{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
			</nav>
			<div id="slider" class="clearfix">
				<div class="logo-section">
					<img src="{{ asset('bundles/lscore/front/images/slider-logo.png') }}" alt="logo">
					<div class="hidden">
						<!--Ukryte, ale widoczne dla Google'a-->
						<h1>
							Anita<br />
							Kazienko-Jóźwik
						</h1>
						<h3>
							Dermatologia i medycyna estetyczna
						</h3>
					</div>
					<div class="buttons clearfix">
						<a href="#offer" class="rounded-button gradiented-button pull-left link">Poznaj ofertę</a>
						<a href="#map-section" class="rounded-button ghost-button pull-left link">Skontaktuj się</a>
					</div>
				</div>
				<div class="dentist">
					<img src="{{ asset('bundles/lscore/front/images/anita.png') }}" alt="dentist" />
				</div>
			</div>
		</div>
	</header>
	<div id="content" class="clearfix">
		<div id="about-me">
			<div class="container clearfix flexbox-container">
                <div class="certificates-container">
                    {% for item in certificates %}
                        <ul>
                            <li>
                                <a href="{{ item.getPhotoWebPath() }}">
                                    <img src="{{ item.getPhotoWebPath() }}?{{ random(10000) }}" class="block-image" alt="alt" />
                                </a>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
				<div class="about-me-img left-col" data-stellar-background-ratio="1.3" data-stellar-vertical-offset='60' >
					<div class="img-container">
						<img src="{{ asset('bundles/lscore/front/images/about-me.jpg') }}" alt="o mnie Anita Jóżwik" class="main-img" />
						<img src="{{ asset('bundles/lscore/front/images/small-about-me-img.jpg') }}" alt="małe o mnie" class="only-small-device" />
						<img src="{{ asset('bundles/lscore/front/images/medium-about-me-img.png') }}" alt="małe o mnie" class="only-medium-device" />
					</div>
					<a href="{{ cms_config.get('link_referencje', '') }}" target="_blank" class="elipse-button"><span>Zobacz<br />referencje</span></a>
                    <a id="certificate-trigger">Sprawdź moje kompetencje</a>
				</div>
				<div class="about-me-text right-col">
                    <div class="circle" id="circle-about-me">
                        <img src="{{ asset('bundles/lscore/front/images/i-ico.png') }}" class="header-ico" alt="O mnie" />
                    </div>
					<h3 class="section-header">{{ aboutMe.title }}</h3>
					<div class="short-line"></div>
					{{ aboutMe.content|raw }}
				</div>
			</div>
		</div>
		<div class="right-side-line"></div>
		<div id="cabinet" class="clearfix">
			<div class="container cabinet-container clearfix">
				<div class="small-visible">
                    <div class="circle">
                        <img src="{{ asset('bundles/lscore/front/images/chair-ico.png') }}" class="header-ico" alt="Gabinet" />
                    </div>
					<h3 class="section-header">{{ cabinet.title }}</h3>
					<div class="short-line"></div>
						{{ cabinet.content|raw }}
				</div>
				<div class="left-col">
                    <div class="circle" id="circle-cabinet">
                        <img src="{{ asset('bundles/lscore/front/images/chair-ico.png') }}" class="header-ico" alt="Gabinet" />
                    </div>
					<h3 class="section-header">{{ cabinet.title }}</h3>
					<div class="short-line"></div>
						{{ cabinet.content|raw }}
					<ul class="unstyled inline">
						<li class="first-one">
							<img src="{{ asset('bundles/lscore/front/images/cabinet1.jpg') }}" alt="krzesło" />
						</li>
						<li class="second-one">
							<a class="gallery-trigger" href="javascript:showGallery();">Galeria zdjęć</a>
							<img src="{{ asset('bundles/lscore/front/images/cabinet2.jpg') }}" alt="łazienka" />
						</li>
					</ul>
				</div>
				<div class="right-col">
					<img src="{{ asset('bundles/lscore/front/images/chair.png') }}" alt="alt" />
				</div>
			</div>
			<div class="gallery-listing">
				<div class="container">
					<a class="subpage-link back-link elipse-btn-with-arrow gallery-trigger" href="javascript: closeGallery();">
						<img src="{{ asset('bundles/lscore/front/images/back-arrow.png') }}" alt="zobacz więcej" /><span>Wróć</span>
					</a>
					<ul class="unstyled inline slideshow-main cycle-slideshow"
						data-cycle-fx="fade"
						data-cycle-timeout=0
						data-cycle-slides="> li"
						data-cycle-next=".gallery-listing .controls #next"
						data-cycle-prev=".gallery-listing .controls #prev"
						>
						{% for photo in Gallery.photos %}
						<li>
							<img src="{{ photo.getThumbWebPath('mini') }}?{{ random(10000) }}" class="block-image main-image" alt="alt" />
						</li>
						{% endfor %}
					</ul>
					<ul class="unstyled inline slideshow-pager cycle-slideshow"
						data-cycle-fx="carousel"
						data-cycle-timeout=0
						data-cycle-slides="> li"
						data-cycle-carousel-visible="5"
						data-allow-wrap=false	
						data-cycle-next=".gallery-listing .controls-pager #next"
						data-cycle-prev=".gallery-listing .controls-pager #prev"
						>
						{% for photo in Gallery.photos %}
						<li>
							<div class="img-container">
								<img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" class="block-image" alt="alt" />
							</div>
						</li>
						{% endfor %}
					</ul>
					<div class="controls">
						<ul>
							<li>
								<a href="" id="prev">
									<img src="{{ asset('bundles/lscore/front/images/prev.png') }}" alt="next" />
								</a>
							</li>
							<li>
								<a href="" id="next">
									<img src="{{ asset('bundles/lscore/front/images/next.png') }}" alt="next" />
								</a>
							</li>
						</ul>
					</div>
					<div class="controls-pager">
						<ul>
							<li id="prev">
								<a href="" >
									<img src="{{ asset('bundles/lscore/front/images/prev.png') }}" alt="next" />
								</a>
							</li>
							<li id="next">
								<a href="">
									<img src="{{ asset('bundles/lscore/front/images/next.png') }}" alt="next" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="left-side-line"></div> 
		<div id="offer" class="clearfix">
			
			<div class="subpage-content">
				<div class="container nano">
					<div class="nano-content"></div>
				</div>
			</div>
			<div class="ajax-loader" id="offer-loader">
				<img src="{{ asset('bundles/lscore/front/images/ajax-loader.png') }}" class="loader" />
				<p>Ładowanie...</p>
			</div>
			
			<div class="left-col">
				<img src="{{ asset('bundles/lscore/front/images/offer.jpg') }}" alt="alt" />
			</div>
			<div class="container initial-content clearfix">
				<div class="right-col" data-stellar-background-ratio="1.3" data-stellar-vertical-offset="160" >
                    <div class="circle" id="circle-offer">
                        <img src="{{ asset('bundles/lscore/front/images/offer-ico.png') }}" class="header-ico" alt="Oferta" />
                    </div>
					<h3 class="section-header">{{ offer.title }}</h3>
					<div class="short-line"></div>
					{{ offer.content|raw }}
					<div class="boxes">
						<ul class="unstyled">
							<li class="clearfix">
								<a href="javascript:toggleSubpage('medycyna-estetyczna');" class="main-href">
									<div class="pull-left">
                                        {% if (medycyna.photo) %}
                                            <img src="{{ medycyna.getThumbWebPath('mini') }}" alt="medycyna estetyczna" class="main-image">
                                        {% else %}
                                            <img src="{{ asset('bundles/lscore/front/images/offer1.jpg') }}" alt="medycyna estetyczna" class="main-image">
                                        {% endif %}
										<a class="subpage-link back-link elipse-btn-with-arrow" href="javascript:toggleSubpage('medycyna-estetyczna');" id="medycyna-estetyczna" data-path='{{ path('ls_page_show') }}'>
											<img src="{{ asset('bundles/lscore/front/images/arrow.png') }}" alt="zobacz więcej" />
										</a>
									</div>
									<div class="pull-right offer-name">
										<h3 class="uppercase">{{ medycyna.title|raw }}</h3>
									</div>
								</a>
							</li>	
							<li class="clearfix">
								<a href="javascript:toggleSubpage('dermatologia-i-dermatochirurgia');" class="main-href">
									<div class="pull-left">
                                        {% if (dermatologia.photo) %}
                                            <img src="{{ dermatologia.getThumbWebPath('mini') }}" alt="medycyna estetyczna" class="main-image">
                                        {% else %}
                                            <img src="{{ asset('bundles/lscore/front/images/offer2.jpg') }}" alt="dermatologia i dermatochirgia" class="main-image">
                                        {% endif %}
										<a class="subpage-link back-link elipse-btn-with-arrow" href="javascript:toggleSubpage('dermatologia-i-dermatochirurgia');" id="dermatologia-i-dermatochirurgia" data-path='{{ path('ls_page_show') }}'>
											<img src="{{ asset('bundles/lscore/front/images/arrow.png') }}" alt="zobacz więcej" />
										</a>
									</div>
									<div class="pull-right offer-name">
										<h3 class="uppercase">{{ dermatologia.title|raw }}</h3>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="right-side-line"></div>
		<div id="news" class="clearfix">
			<div class="ajax-loader" id="news-loader">
				<img src="{{ asset('bundles/lscore/front/images/ajax-loader.png') }}" class="loader" />
				<p>Ładowanie...</p>
			</div>
			<div class="container initial-container">
				<h3 class="section-header text-center">Aktualności</h3>
				<div class="short-line"></div>
				<div class="large-device">
					<ul class="unstyled inline short-listing">
						{% for mainItem in mainNews %}
							<li class="clearfix">
								<a href="javascript:toggleOneNews('{{ mainItem.slug }}');" id="{{mainItem.slug}}" class="main-href" data-path="{{ path('ls_news_show') }}" >
									<div class="image-container">
										<img src="{{ mainItem.getThumbWebPath('list') }}" alt="news1" class="news-thumbnail">
									</div>
									<p class="date">{{ mainItem.publishedat|date('d.m.Y') }}</p>
									<p class="news-excerpt">{{ mainItem.contentshort }}</p>
									<div class="line-n-arrow clearfix">
										<div class="line pull-left"></div>
										<div class="pull-right">
											<a href="javascript:toggleOneNews('{{ mainItem.slug }}');" id="{{mainItem.slug}}" class="elipse-btn-with-arrow show-one-news" data-path="{{ path('ls_news_show') }}" >
												<img src="{{ asset('bundles/lscore/front/images/arrow.png') }}" alt="zobacz więcej" />
											</a>
										</div>
									</div>
								</a>
							</li>
						{% endfor %}
					</ul>
					<ul class="unstyled inline main-listing" style="display: none;">
						{% for item in news %}
							<li>
								<a href="javascript:toggleOneNews('{{ item.slug }}');" id="{{item.slug}}" class="main-href" data-path="{{ path('ls_news_show') }}" >
									<div class="image-container">
										<img src="{{ item.getThumbWebPath('list') }}" alt="news1" class="news-thumbnail">
									</div>
									<p class="date">{{ item.publishedat|date('d.m.Y') }}</p>
									<p class="news-excerpt">{{ item.contentshort }}</p>
									<div class="line-n-arrow clearfix">
										<div class="line pull-left"></div>
										<div class="pull-right">
											<a href="javascript:toggleOneNews('{{ item.slug }}');" id="{{item.slug}}" class="elipse-btn-with-arrow show-one-news" data-path="{{ path('ls_news_show') }}"">
												<img src="{{ asset('bundles/lscore/front/images/arrow.png') }}" alt="zobacz więcej" />
											</a>
										</div>
									</div>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="small-device">
					<ul class="unstyled inline short-listing">
						{% for mainItem in mainNewsForSmallDevice %}
							<li class="clearfix">
								<a href="javascript:toggleOneNews('{{ mainItem.slug }}');" id="{{mainItem.slug}}" class="main-href" data-path="{{ path('ls_news_show') }}" >
									<div class="image-container">
										<img src="{{ mainItem.getThumbWebPath('list') }}" alt="news1" class="news-thumbnail">
									</div>
									<p class="date">{{ mainItem.publishedat|date('d.m.Y') }}</p>
									<p class="news-excerpt">{{ mainItem.contentshort }}</p>
									<div class="line-n-arrow clearfix">
										<div class="line pull-left"></div>
										<div class="pull-right">
											<a href="javascript:toggleOneNews('{{ mainItem.slug }}');" id="{{mainItem.slug}}" class="elipse-btn-with-arrow show-one-news" data-path="{{ path('ls_news_show') }}" >
												<img src="{{ asset('bundles/lscore/front/images/arrow.png') }}" alt="zobacz więcej" />
											</a>
										</div>
									</div>
								</a>
							</li>
						{% endfor %}
					</ul>
					<ul class="unstyled inline main-listing" style="display: none;">
						{% for item in newsForSmallDevice %}
							<li>
								<a href="javascript:toggleOneNews('{{ item.slug }}');" id="{{item.slug}}" class="main-href" data-path="{{ path('ls_news_show') }}" >
									<div class="image-container">
										<img src="{{ item.getThumbWebPath('list') }}" alt="news1" class="news-thumbnail">
									</div>
									<p class="date">{{ item.publishedat|date('d.m.Y') }}</p>
									<p class="news-excerpt">{{ item.contentshort }}</p>
									<div class="line-n-arrow clearfix">
										<div class="line pull-left"></div>
										<div class="pull-right">
											<a href="javascript:toggleOneNews('{{ item.slug }}');" id="{{item.slug}}" class="elipse-btn-with-arrow show-one-news" data-path="{{ path('ls_news_show') }}"">
												<img src="{{ asset('bundles/lscore/front/images/arrow.png') }}" alt="zobacz więcej" />
											</a>
										</div>
									</div>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>	
				<div class="large-device">
					{% if news|length > 0 %}
						<a href="javascript:toggleNews();" class="rounded-button gradiented-button show-more" id="show-more">Pokaż więcej</a>
					{% endif %}
				</div>
				<div class="small-device">
					{% if newsForSmallDevice|length > 0 %}
						<a href="javascript:toggleNews();" class="rounded-button gradiented-button show-more" id="show-more">Pokaż więcej</a>
					{% endif %}
				</div>
			</div>
			<div id="one-news-container">
				<div class="container nano">
					<div class="nano-content"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="map-section">
		<div id="map" data-marker="{{ cms_config.get('marker', '') }}">
            
		</div>
		<div class="shadow"></div>
		<div class="contact-info"></div>
		<div class="container">
			<div class="contact-info-text">
				<h3 class="section-header">Kontakt</h3>
				<div class="short-line"></div>
				<p>
					<img src="{{ asset('bundles/lscore/front/images/phone-ico.png') }}" class="contact-ico" alt="telefon" />+48 <span class="bigger">{{ cms_config.get('telefon', '') }}</span>
				</p>
				<div class="large-device">
					<p>
						<img src="{{ asset('bundles/lscore/front/images/pin-ico.png') }}" class="contact-ico" alt="telefon" /><span class="address">{{ cms_config.get('adres', '') }}</span>
					</p>
				</div>
				<div class="small-device">
					<a href="https://www.google.pl/maps/place/Zenitowa+15,+35-301+Rzesz%C3%B3w/@50.037308,22.0359413,17z/data=!3m1!4b1!4m5!3m4!1s0x473cfaed3b1f4fe1:0x5f5ab39954f3bda0!8m2!3d50.037308!4d22.03813?ion=1&espv=2&q=zenitowa+15+rzesz%C3%B3w&rlz=1C1JZAP_plPL712PL712&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiZlKqF6q_QAhUCWiwKHcqCA5kQ_AUICCgB">
						<p>
							<img src="{{ asset('bundles/lscore/front/images/pin-ico.png') }}" class="contact-ico" alt="telefon" /><span class="address">ul. Zenitowa 15, Rzeszów</span>
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="container">
			&copy; Copyrights 2016. Wszelkie prawa zastrzeżone<br />
			Realizacja: <img src="{{ asset('bundles/lscore/front/images/lemo-logo.png') }}" alt="lemonade studio Rzeszów">
		</div>
	</footer>
		

{% endblock%}

{% block javascripts %}
    {{parent()}}
    {% set marker = cms_config.get('marker', '')|split(',') %}
        <script>
            function initMap() {
            var marker = $('#map').data('marker').split(',');

            var map;
            var myLatLng = {lat: {{marker[0]}}, lng: {{marker[1]}}};
            var icon = "/bundles/lscore/front/images/map-pin.png";

            // Create a map object and specify the DOM element for display.
            var myOptions = {
            center: myLatLng,
            mapTypeControl: true,
            zoom: 15,
            scrollwheel: false,
            mapTypeControl: true,
            };

            map = new google.maps.Map(document.getElementById("map"), myOptions);
{#			var icon = "/bundles/lscore/front/images/pin.png";#}
            // Create a marker and set its position.
            var marker = new google.maps.Marker({
                map: map,
                icon: icon,
                position: myLatLng,
                title: 'Dermatologia Anita Jóźwik',
            });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlGm2zIWJgGwegAT3sYhjwjs4ZNWSzxaY&callback=initMap" async defer></script>
{% endblock %}