/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-25, 15:22:41
    Author     : Tomasz Jacek
*/
@media screen and (min-width: 1240px) and (max-width: 1919px) {
	body {
		overflow-x: hidden;
		width: 100%;
	}
	.navbar, .navbar-sticky {
		display: none;
	}
	.container {
		width: 1200px;
	}
    a {
        &#certificate-trigger {
            $value: 110px;
            bottom: 180px;
            height: $value;
            font: {
                size: 12px;
            }
            padding: 30px 10px 0;
            width: $value;
        }
    }
	#header {
		height: 690px;
		#slider {
			position: relative;
			z-index: 1001;
			.logo-section {
				padding-top: 16% !important;
				margin-left: 12%;
				img {
					max-width: 360px;
				}
				.buttons {
					margin-top: 65px;
				}
			}
			.dentist {
				top: 100px;
				right: 80px;
				img {
					max-width: 450px;
				}
			}
		}
		#upper-nav {
			ul {
				margin-left: 60px;
			}
		}
	}
	#content {
		#about-me {
			height: 640px;
			.container {
				.about-me-img {
					.img-container {
						&:after {
							bottom: 36%;
                            left: 15%;
						}
					}
					img {
						top: 0;
						left: 12%;
						max-width: 370px;
						&.only-medium-device {
							display: none;
						}
					}
				}
				.left-col {
					background-position: 22% 54%;
					height: 640px;
					a.elipse-button {
						bottom: 260px;
						height: 115px;
						font: {
							size: 14px;
							weight: 600;
						}
						top: auto;
						padding-top: 36px;
						right: 91px;
						width: 115px;
					}
				}
				.about-me-text {
					padding: 25px 0 0 6%;
					h3 {
						&.section-header {
							margin-top: 20px;
						}
					}
				}
			}
		}
		#cabinet {
			min-height: 620px;
			height: auto;
			.left-col {
				margin-top: 0;
				padding-left: 50px;
				width: 60%;
				ul {
					padding: 20px 0 0;
					li {
						width: 30%;
						&.second-one {
							margin-top: 40px;
							a {
								&.gallery-trigger {
									$value: 100px;
									font: {
										size: 12px;
									}
                                    padding: 35px 10% 0;
									height: $value;
									width: $value;
								}
							}
						}
					}
				}
				img {
					display: block;
					max-width: 100%;
				}
				h3 {
					&.section-header {
						margin-top: 30px;
					}
				}
			}
			.right-col {
				width: 40%;
				img {
					max-width: 58%;
					left: 50%px;
					top: 0;
				}
			}
			.gallery-lisiting {
				div {
					margin: 0 auto;
                    img {
                        &.main-image {
                            max-width: 600px;
                        }
                    }
				}
			}
		}
		#offer {
			.left-col {
				img {
					left: auto !important;
                    right: 50%;
					max-width: 56%;
					top: 111px;
				}
			}
			.right-col {
				background-position: 75% 60px;
				padding: 0 0 0 6%;	
				.boxes {
					ul {
						li {
							display: inline-block;
							vertical-align: top;
							width: 48%;
							img {
								&.main-image {
									width: 100%;
								}
							}
							div {
								&.pull-left, &.pull-right {
									float: none !important;
								}
								&.pull-left {
									width: 71%;
									margin: 20px 0 0 5px;
									a {
										&.elipse-btn-with-arrow {
											$value: 40px;
											bottom: -185px;
											left: 0;
											height: $value;
											line-height: $value;
											width: $value;
										}
									}
								}
								&.pull-right {
									width: auto;
									h3 {
										padding: 5px 5px 15px 0;
									}
								}
								&.offer-name {
									h3 {
										margin: 15px 0 0 9px;
										font: {
											size: 14px;
											weight: 700;	
										}
										width: 80%;
									}
								}
							}
						}
					}
				}
			}
            .subpage-content {
                padding: 80px 0 60px;
                .content {
                    line-height: 21px;
                }
            }
		}
		#news {
			padding-top: 50px;
			.container {
				ul {
					margin: 0 auto;
					padding-top: 0;
					width: 80%;
					li {
						.image-container {
							height: auto;
							img {
								width: 100%;
							}
						}
						p {
							&.date {
								margin-top: -8px;
							}
						}
						.line-n-arrow {
							.pull-right {
								a {
									&.show-one-news {
										$value: 40px;
										height: $value;
										line-height: $value;
										margin-top: 5px;
										left: 0;
										width: $value;
									}
								}
							}
						}
					}
				}
			}
		}
		#one-news-container {
			ul {
				width: 100% !important;
			}
		}
	}
	#map-section {
		height: 650px;
		margin-top: 0;
	}
}

