/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-25, 15:22:41
    Author     : Tomasz Jacek
*/
@media screen and (min-width: 1240px) and (max-width: 1919px) {
  body {
    overflow-x: hidden;
    width: 100%; }

  .navbar, .navbar-sticky {
    display: none; }

  .container {
    width: 1200px; }

  a#certificate-trigger {
    bottom: 180px;
    height: 110px;
    font-size: 12px;
    padding: 30px 10px 0;
    width: 110px; }

  #header {
    height: 690px; }
    #header #slider {
      position: relative;
      z-index: 1001; }
      #header #slider .logo-section {
        padding-top: 16% !important;
        margin-left: 12%; }
        #header #slider .logo-section img {
          max-width: 360px; }
        #header #slider .logo-section .buttons {
          margin-top: 65px; }
      #header #slider .dentist {
        top: 100px;
        right: 80px; }
        #header #slider .dentist img {
          max-width: 450px; }
    #header #upper-nav ul {
      margin-left: 60px; }

  #content #about-me {
    height: 640px; }
    #content #about-me .container .about-me-img .img-container:after {
      bottom: 36%;
      left: 15%; }
    #content #about-me .container .about-me-img img {
      top: 0;
      left: 12%;
      max-width: 370px; }
      #content #about-me .container .about-me-img img.only-medium-device {
        display: none; }
    #content #about-me .container .left-col {
      background-position: 22% 54%;
      height: 640px; }
      #content #about-me .container .left-col a.elipse-button {
        bottom: 260px;
        height: 115px;
        font-size: 14px;
        font-weight: 600;
        top: auto;
        padding-top: 36px;
        right: 91px;
        width: 115px; }
    #content #about-me .container .about-me-text {
      padding: 25px 0 0 6%; }
      #content #about-me .container .about-me-text h3.section-header {
        margin-top: 20px; }
  #content #cabinet {
    min-height: 620px;
    height: auto; }
    #content #cabinet .left-col {
      margin-top: 0;
      padding-left: 50px;
      width: 60%; }
      #content #cabinet .left-col ul {
        padding: 20px 0 0; }
        #content #cabinet .left-col ul li {
          width: 30%; }
          #content #cabinet .left-col ul li.second-one {
            margin-top: 40px; }
            #content #cabinet .left-col ul li.second-one a.gallery-trigger {
              font-size: 12px;
              padding: 35px 10% 0;
              height: 100px;
              width: 100px; }
      #content #cabinet .left-col img {
        display: block;
        max-width: 100%; }
      #content #cabinet .left-col h3.section-header {
        margin-top: 30px; }
    #content #cabinet .right-col {
      width: 40%; }
      #content #cabinet .right-col img {
        max-width: 58%;
        left: 50% px;
        top: 0; }
    #content #cabinet .gallery-lisiting div {
      margin: 0 auto; }
      #content #cabinet .gallery-lisiting div img.main-image {
        max-width: 600px; }
  #content #offer .left-col img {
    left: auto !important;
    right: 50%;
    max-width: 56%;
    top: 111px; }
  #content #offer .right-col {
    background-position: 75% 60px;
    padding: 0 0 0 6%; }
    #content #offer .right-col .boxes ul li {
      display: inline-block;
      vertical-align: top;
      width: 48%; }
      #content #offer .right-col .boxes ul li img.main-image {
        width: 100%; }
      #content #offer .right-col .boxes ul li div.pull-left, #content #offer .right-col .boxes ul li div.pull-right {
        float: none !important; }
      #content #offer .right-col .boxes ul li div.pull-left {
        width: 71%;
        margin: 20px 0 0 5px; }
        #content #offer .right-col .boxes ul li div.pull-left a.elipse-btn-with-arrow {
          bottom: -185px;
          left: 0;
          height: 40px;
          line-height: 40px;
          width: 40px; }
      #content #offer .right-col .boxes ul li div.pull-right {
        width: auto; }
        #content #offer .right-col .boxes ul li div.pull-right h3 {
          padding: 5px 5px 15px 0; }
      #content #offer .right-col .boxes ul li div.offer-name h3 {
        margin: 15px 0 0 9px;
        font-size: 14px;
        font-weight: 700;
        width: 80%; }
  #content #offer .subpage-content {
    padding: 80px 0 60px; }
    #content #offer .subpage-content .content {
      line-height: 21px; }
  #content #news {
    padding-top: 50px; }
    #content #news .container ul {
      margin: 0 auto;
      padding-top: 0;
      width: 80%; }
      #content #news .container ul li .image-container {
        height: auto; }
        #content #news .container ul li .image-container img {
          width: 100%; }
      #content #news .container ul li p.date {
        margin-top: -8px; }
      #content #news .container ul li .line-n-arrow .pull-right a.show-one-news {
        height: 40px;
        line-height: 40px;
        margin-top: 5px;
        left: 0;
        width: 40px; }
  #content #one-news-container ul {
    width: 100% !important; }

  #map-section {
    height: 650px;
    margin-top: 0; } }

/*# sourceMappingURL=1200.css.map */
