/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-14, 16:22:59
    Author     : Tomek
*/
/*vars*/
$default-font-size: 15px;
/*end of vars*/
/*mixins*/
@mixin position($position, $index) {
    position: $position;
    z-index: $index;
}
@mixin fullTransparentButton() {
	@include position(absolute, 1009);
	content: "";
	color: #000;
	display: block;
	left: 0;top: 0;
	height: 100%;
	text-decoration: none;
	width: 100%;
}

// Nazwa mixinu jest błędna - po zmianie koloru nie chciałem juz mieszać.
@mixin whiteOverlay() {
	@include position(absolute, 1009);
	background: url(../images/hover-bg.png);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	content: "";
	left: 0;
	opacity: 0;
	top: 0;
	transition: opacity .3s;
	height: 100%;
	width: 100%;
}
@mixin gallery-listing()  {
    @include position(relative, 1009);
    background-color: #fff;
    left: 0;
    height: 100%;
    padding: 60px 0 40px;
    top: 0;
    width: 100%;
    .container {
        margin: 0 auto;
        a {
            &.back-link {
                @include position(relative, 1001);
                span {
                    @include position(absolute, 1002);
                    color: #000;
                    left: 65px;
                    font: {
                        size: 14px;
                        weight: 600; 
                    }
                    text-decoration: none;
                    text-transform: none;
                    top: 0;
                }
            }
        }
        @include position(relative, 1001);
        ul {
            li {
                text-align: center;
                img {
                    margin: 0 auto;
                    &.main-image {
                        max-height: 500px;
                        width: auto;	
                    }
                }
            }
            &.slideshow-main {
                margin-bottom: 45px;
                li {
                    width: 100%;
                }
            }
            &.slideshow-pager {
                height: 160px;
                margin: 0 auto;
                width: 85% !important;
                li {
                    cursor: pointer;
                    margin: 0 20px;
                    .img-container {
                        @include position(relative, 1003);
                        border: 7px solid transparent;
                        transition: border .3s;
                        &:before {
                            @include whiteOverlay();
                        }
                        &:after {
                            @include withShadow();
                        }
                    }
                    &:hover {
                        .img-container {
                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                    &.cycle-slide-active {
                        .img-container {
                            border: 7px solid #ebd9bf;
                        }
                    }
                }
            }
        }
        #adv-custom-pager {
            margin: 0 auto;
            padding-top: 50px;
            text-align: center;
            text-align: justify;
            max-width: 75%;
            &:after {
                display: inline-block;
                content: "";
                width: 100%;
            }
            a {
                margin: 0;
                img {
                    @include position(relative, 1001);
                    margin: 20px 0;
                    vertical-align: top;
                    &:after {
                        @include withShadow();
                    }
                }
            }
        }
        .controls {
            display: none;
        }
        .controls-pager {
            ul {
                @include position(relative, 1001);
                list-style: none;
                margin-top: -50px;
                li {
                    @include position(absolute, 1002);
                    bottom: 35px;
                    &#prev {
                        left: 35px !important;
                        right: auto !important;
                    }
                    &#next {
                        left: auto !important;
                        right: 0 !important;
                    }
                }
            }
        }
    }
}
/*end of mixins*/
body {
    font: {
        family: 'Open Sans', sans-serif;
        size: $default-font-size;
    }
	overflow-x: hidden;
    margin: 0;
    padding: 0;
	width: 100%;
}
.navbar, .navbar-sticky {
	display: none;
}
@mixin withShadow() {
	@include position(absolute, 1001);
	background-color: #000;
	bottom: 0;
	border-radius: 50%;
	display: block;
	filter: blur(25px);
	opacity: .65;
	content: "";
	left: 10%;
	height: 15px;
	width: 80%;
}
.small-device {
	display: none;
	a {
		color: #000;
	}
}
a {
    &.rounded-button {
        border-radius: 50px;
        font: {
            size: 13px;
            weight: 700;
        }
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    &.ghost-button {
        $height: 44px;
        border: 2px solid #484848;
        height: $height;
        color: #484848;
        font: {
            weight: 700;
        }
        padding-top: 15px;
		transition: opacity .2s;
        width: 188px;
		&:hover {
			opacity: .7;
		}
    }
    &.gradiented-button {
        $height: 48px;
        background: linear-gradient(155deg, #ffcd8c, #df9f61 80%);
        box-shadow: 0 1px 1px rgba(#5c2900, .7);
        color: #fff;
        height: $height;
        margin-left: -12px;
        margin-right: 12px;
        padding-top: 16px;
        text-shadow: 0 1px 1px rgba(#76440d, .6);
		transition: opacity .2s;
        width: 193px;
		&:hover {
			opacity: .75;
		}
    }
    &.elipse-button {
		background: linear-gradient(155deg, #ffcd8c 35%, #df9f61) !important;
        border-radius: 50%;
		box-shadow: 0 1px 2px rgba(#5c2900, .7) !important;
        cursor: pointer;
        font: {
            weight: 600 !important;
        }
        text-shadow: 0 1px 1px rgba(#76440d, .6);
        text-transform: uppercase;
		transition: background .3s;
		&:hover {
			background: linear-gradient(155deg, #ffddb1 35%, #e8ab6e) !important;
		}
    }
	&.elipse-btn-with-arrow {
		$value: 50px;
		background: linear-gradient(155deg, #ffcd8c, #df9f61 70%) !important;
		box-shadow: 0 1px 2px rgba(#5c2900, .7) !important;
		border-radius: 50%;
		content: "";
		display: block;
		line-height: $value;
		height: $value;
		transition: background .3s;
		text-align: center;
		width: $value;
	}
	&.back-link {
		line-height: 46px;
		transition: background .3s;
		&:hover {
			background: linear-gradient(155deg, #ffddb1, #e8ab6e 70%) !important;
		}
		span {
			top: 3px !important;
		}
	}
	&.gallery-trigger {
		box-shadow: 0 1px 2px rgba(#5c2900, .7) !important;
        font: {
            weight: 600 !important;
        }
        text-shadow: 0 1px 1px rgba(#76440d, .6);
		text-transform: uppercase;
		span {
			text-shadow: none;
		}
	}
    &#certificate-trigger {
        @include position(absolute, 1002);
        $value: 120px;
        bottom: 100px;
        right: 174px;
        text-align: center;
        background: linear-gradient(to bottom, #ffb255, #b87422) !important;
        border-radius: 50%;
        cursor: pointer;
		box-shadow: 0 1px 2px rgba(#5c2900, .7) !important;
        color: #fff;
        display: block;
        height: $value;
        font: {
            size: 14px;
            weight: 600 !important;
        }
        padding: 30px 10px 0;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(#76440d, .6);
        text-transform: uppercase;
		transition: background .3s;
        width: $value;
		&:hover {
			background: linear-gradient(to bottom, #ffc785, #c8822e) !important;
		}
    }
}
img {
	&.only-small-device, .only-medium-device {
		display: none;
	}
}
.container {
    margin: 0 auto;
    width: 1200px;
}
.certificates-container {
    @include position(relative, 1001);
    display: none;
}
/*Fancy box styles*/
#fancybox-wrap {
    @include position(fixed, 1100);
    top: 0 !important;
    left: 0 !important;
    right: 0;
    margin: auto;
}
/*end of fancybox styles*/
p {
	color: #484848 !important;
	font: {
		size: 15px;
	}
	&.emphasize {
		font: {
			size: 18px;
		}
		margin: 30px 0 !important;
		span {
			font: {
				size: 18px !important;
			}
		}
	}
}
.subpage-content, #one-news-container {
    @mixin bullet() {
        content: "";
        display: inline-block;
        // nadpisanie innych wartości
        margin-left: -24px !important;
        // koniec nadpisania
        height: 5px;
        margin-bottom: 3px;
        vertical-align: middle;
        width: 20px;
    }
	ul {
		list-style: none;
		margin-left: 0;
		padding: 0;
        li {
            &:before  {
                @include bullet();
                background: url("../images/bullet.png") no-repeat center center;
            }
            ul {
                list-style: none;
                margin-left: 0;
                padding: 0;
                li {
                    &:before {
                        @include bullet();
                        background: url("../images/bullet2.png") no-repeat center center;
                    }
                }
            }
        }
	}
}
#header {
	@include position(relative, 1009);
    background: url("../images/header-bg.jpg") no-repeat center center;
	background-size: cover;
    height: 827px;
    width: 100%;
    .container {
        @include position(relative, 1001);
        height: 100%;
    }
	.sticky-nav {
		$height: 55px;
		@include position(fixed, 1008);
		background: #f7ece0;
		box-shadow: 0 2px 5px rgba(#000, .2);
		display: none;
		height: $height;
		line-height: $height;
		left: 0;
		padding: 0;
		top: 0;
		width: 100%;
		ul {
			height: 100%; 
			margin-left: 0;
			text-align: center;
			width: 100%;
			li {
				display: inline-block;
				font: {
                    size: 12px;
                    weight: 600;
                }
				float: none !important;
				height: 92%; 
				margin: 0;
                text-transform: uppercase;
				@include position(relative, 1001);
				a {
					color: #494949;
                    cursor: pointer;
                    text-decoration: none;
					&:hover, &:focus {
						background-color: transparent;
					}
				}
				&:after {
					@include position(absolute, 1002);
					bottom: 0;
					background-color: #ce9e64;
					content: "";
					opacity: 0;
					left: calc(50% - 18px / 2);
					height: 2px;
					width: 18px;
				}
				&:hover:after, &.active:after {
					opacity: 1;
				}
			}
		}
	}
    #upper-nav {
		@include position(fixed, 1008);
        $height: 80px;
		background: transparent;
        height: $height;
        line-height: $height;
        padding-top: 40px;
        ul {
            margin-left: 35px;
            li {
				display: inline-block;
                margin-right: 10px;
                text-transform: uppercase;
                font: {
                    size: 14px;
                    weight: 600;
                }
                a {
                    color: #484848;
                    cursor: pointer;
                    text-decoration: none;
					&:hover, &:focus {
						background-color: transparent;
					}
                }
                &:hover {
                    a {
                        color: #ce9e64;
                    }
                }
            }
        }
    }
    #slider {
        height: 100%;
        .logo-section {
            padding-top: 17%;
            margin-left: 9%;
        }
        .dentist {
            @include position(absolute, 1002);
            right: -35px;
            bottom: -48px;
        }
        .buttons {
            margin-top: 73px;
			.rounded-button {
				margin-right: 15px;
			}
			.ghost-button {
				height: 49px;
				width: 192px;
			}
        }
    }
}
#content {
	@include position(relative, 1001);
	.container {
		padding: 0 5px;
	}
    .short-line {
        margin-bottom: 15px;
		margin-left: 5px;
        width: 24px;
    }
    .right-side-line, .left-side-line, .short-line {
        background-color: #9a7b55;
        content: "";
        height: 2px;
    }
    .right-side-line, .left-side-line {
        width: 42%;
    }
    .right-side-line {
        float: right;
    }
    .circle {
        @include position(relative, 999);
    }
    h3 {
        &.section-header {
            @include position(relative, 1001);
            font: {
                size: 45px;
                weight: 300;
            }
            margin: 20px 0 27px;
        }
    }
    p {
        font: {
            size: 15px !important;
        }
    }
    
    .left-col, .right-col {
        float: left;
        margin: 2% 0;
        width: 45%;
        p {
            margin: 26px 0 0;
        }
    }
    #about-me, #offer {
        .right-col {
            .short-line, p {
                @include position(relative, 1001);
            }
        }
    }
    #cabinet {
        @media screen and (min-width: 1200px) {
            min-height: 914px;
        }
        .left-col {
            .short-line, p {
                @include position(relative, 1001);
            }
        }
    }
    #about-me {
        height: 750px;
        padding-top: 80px;
        margin-top: 10px;
        .container {
			@include position(relative, 1001);
            .left-col {
                @include position(relative, 1001);
				background: url("../images/pin-bg.jpg");
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: 25%;
				background-position: 31% 56%;
                height: 705px;
				width: 50%;
				.img-container {
					height: 80%;
					&:after {
						@include withShadow();
						bottom: 23%;
						left: 9%;
						opacity: .55;
						width: 60%;
					}
				}
                img {
                    @include position(absolute, 1002);
                    left: 0;
                    top: 65px;
					&.only-medium-device {
						display: none;
					}
                }
                a.elipse-button {
                    @include position(absolute, 1003);
                    $value: 150px;
                    bottom: 186px;
                    background: linear-gradient(to right, #e2b075, #cf9f65);
                    color: #fff;
                    height: $value;
					padding-top: 52px;
                    right: 67px;
                    text-align: center;
                    text-decoration: none;
					text-transform: uppercase;
                    width: $value;
                }
            }
            .right-col {
                width: 50%;
                padding: 120px 0 0 13%;
                .about-me-text {
					h3 {
						margin-top: 25px;
					}
                }
            }
        }
    }
    #cabinet {
		@include position(relative, 1002);
        height: 100%;
		padding: 70px 0 80px;
		.container {
			height: 100%;
			.small-visible {
				display: none;
			}
			.gallery-listing {
				@include position(absolute, 1003);
				background-color: #fff;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
			}
		}
        .right-col {
			padding-top: 120px;
            img {
				@include position(absolute, 1003);
                right: -18px;
                top: 70px;
            }
        }
        .left-col {
            width: 55%;
            padding: 0;
			p {
				width: 70%;
			}
            h3 {
                &.section-header {
					margin: 20px 0 26px;
                }
            }
			ul {
				padding: 60px 0 0;
				li {
					@include position(relative, 1003);
                    margin-left: -4px !important;
					transition: opacity .3s;
					vertical-align: top;
					&:after {
						@include withShadow();
					}
					&.second-one {
						margin-top: 90px;
                        z-index: 1002;
						&:before {
							@include position(absolute, 1004);
							background-color: rgba(#fff, .5);
							content: "";
							left: 0;
							height: 100%;
							top: 0;
							width: 100%;
						}
						&:hover {
							a {
								&.gallery-trigger {
									background: linear-gradient(155deg, #ffddb1 35%, #e8ab6e) !important;
								}
							}
						}
						a {
							&.gallery-trigger {
								@include position(absolute, 1009);
								background: linear-gradient(155deg, #ffcd8c 35%, #df9f61) !important;
								border-radius: 50%;
								box-shadow: 1px 1px 1px #555;
								color: #fff;
								font: {
									size: 16px;
								}
								left: 25%;
								padding: 54px 10% 0;
								top: 25%;
								height: 150px;
								text-decoration: none;
								text-align: center;
								transition: background .3s;
								width: 150px;
							}
						}
					}
					img {
						@include position(relative, 1003);
						display: block;
					}
				}
			}
        }
        .gallery-listing {
            @include gallery-listing();
            display: none;
            .container {
                ul {
                    &.slideshow-pager {
                        li {
                            opacity: 1 !important;
                        }
                    }

                }
            }
        }
    }
    #offer {
		@include position(relative, 1001);
        height: auto;
		.ajax-loader {
			@include position(absolute, 1008);
			background-color: #fff;
			height: 100%;
			width: 100%;
			img {
				@include position(absolute, 1009);
				bottom: 0;
				left: 0;
				margin: auto;
				right: 0;
				top: 0;
				animation: spin 1s linear infinite;
				@keyframes spin
				{
					from { transform: rotate(0deg); }
					50%  { transform: rotate(180deg); }
					to   { transform: rotate(360deg); }
				}
			}
			p {
				text-align: center;
				@include position(absolute, 1009);
				bottom: 43%;
				font: {
					size: 14px;
					weight: 700;
				}
				left: 0;
				margin: auto;
				right: 0;
			}
		}
		.container {
			@include position(relative, 1001);
		}
        .left-col {
            img {
                @include position(absolute, 1002);
                left: 0 !important;
                top: 155px;
            }
        }
        .right-col {
			background: url("../images/offer-bg.jpg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 25%;
			background-position: 75% 170px;
            float: right;
			height: 710px;
            width: 50%;
            padding: 0 0 0 13%;
			h3 {
				&.section-header {
					margin: 20px 0 27px;
				}
			}
			span {
				background-color: transparent !important;
			}
			.boxes {
				margin-top: 35px;
				ul {
					li {
						@include position(relative, 1001);
						margin-bottom: 10px;
						.pull-left, .pull-right {
							width: 50%;
						}
						.pull-right {
							padding-left: 55px;
							h3 {
								border-bottom: 2px solid #d8d8d8;
								margin: 0;
								padding: 50px 0;
								font: {
									size: 16px;
								}
								width: 90%;
							}
						}
						a {
							&.main-href {
								@include fullTransparentButton();
							}
						}
						.pull-left {
							@include position(relative, 1003);
							img {
								&.main-image {
									width: 100%;
								}
							}
							&:after {
								@include withShadow();
							}
							&:before {
								@include whiteOverlay();
							}
							a {
								@include position(relative, 1004);
								&.elipse-btn-with-arrow {
									@include position(absolute, 1009);
                                    bottom: 0;
									left: 90%;
                                    margin: auto;
									top: 0;
								}
							}
						}
						&:hover {
							.pull-left {
								&:before {
									opacity: 1;
								}
							}
							.pull-right {
								h3 {
									border-color: #edb67d;
								}
							}
							a {
								&.elipse-btn-with-arrow {
									background: linear-gradient(155deg, #ffddb1, #e8ab6e 70%) !important;
								}
							}
						}
					}
				}
			}
        }
		.subpage-content {
			$height: 760px;
			@include position(relative, 1011);
			background-color: #fff;
			display: none;
			height: $height;
			left: 0;
			margin-top: 0;
			min-height: 705px;
			padding: 40px 0 60px;
			top: 0;
			width: 100%;
            @media screen and (min-width: 1920px) {
                padding: 80px 0 60px;
            }
			.nano {
				height: $height;
                .nano-content {
                    right: -5px !important;
                }
			}
			a {
				&.back-link {
					@include position(relative, 1001);
					margin-left: 1px;
					span {
						@include position(absolute, 1002);
						color: #000;
						left: 65px;
						font: {
							size: 14px;
							weight: 600; 
						}
						text-decoration: none;
						top: 0;
					}
				}
			}
			.content {
				column-count: 2;
				column-gap: 145px;
				line-height: 23px;
				ul {
					margin-left: 17px;
					li {
						margin-right: 15px;
						&:before {
							margin-left: -11px;
						}
						span {
							font: {
								size: 15px;
							}
						}
					}
				}
			}
			h2 {
				&.subpage-header {
					display: block;
					font: {
						size: 41px;
						weight: 300;
					}
					margin: 20px 0;
					width: 100%;
				}
			}
            .gallery {
                .gallery-offer-listing {
                    @include gallery-listing();
                    .container {
                        padding: 0 15px !important;
                    }
                    ul {
                        &.slideshow-pager {
                            li {
                                opacity: 1 !important;
                            }
                        }
                    }
                    ul {
                        li {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
		}
    }
    #news {
		@include position(relative, 1001);
        height: auto;
        padding-top: 100px;
		.small-device {
			display: none;
		}
		.ajax-loader {
			@include position(absolute, 1008);
			background-color: #fff;
			height: 100%;
			width: 100%;
			img {
				@include position(fixed, 1009);
				bottom: 0;
				left: 0;
				margin: auto;
				right: 0;
				top: 0;
				animation: spin 1s linear infinite;
				@keyframes spin
				{
					from { transform: rotate(0deg); }
					50%  { transform: rotate(180deg); }
					to   { transform: rotate(360deg); }
				}
			}
			p {
				text-align: center;
				@include position(fixed, 1009);
				bottom: 43%;
				font: {
					size: 14px;
					weight: 700;
				}
				left: 0;
				margin: auto;
				right: 0;
			}
		}
        .container {
			@include position(relative, 1001);
			height: 100%;
            text-align: center;
			.short-line {
				margin: 0 auto 30px;
			}
            ul {
				padding-top: 30px;
                text-align: justify;
                &:after {
                    display: inline-block;
                    content: "";
                    width: 100%;
                }
                li {
					@include position(relative, 1001);
                    padding: 0 7px;
					margin-bottom: 30px;
					cursor: pointer;
                    vertical-align: top;    
                    width: 25%;
					a {
						&.main-href {
							@include fullTransparentButton();
							position: relative;
						}
					}
					&:hover {
						.line-n-arrow {
							.line {
								background-color: #edb67d;
							}
						}
					}
					.image-container {
						@include position(relative, 1001);
						margin: 0 auto 25px;
						&:after {
							@include withShadow();
							bottom: 5px;
							opacity: .7;
						}
						&:before {
							@include whiteOverlay();
						}
						img {
							&.news-thumbnail {
								@include position(relative, 1002);
								display: block;
								width: 100%;
							}
						}
					}
                    p {
                        text-align: left;
                        &.date {
                            color: #9a7b55;
                            font: {
                                size: 13px;
                                weight: 600;
                            }
                        }
                        &.news-excerpt {
							color: #484848;
							line-height: 130%;
                            font: {
                                size: 15px;
                                weight: 700;
                            }
							margin-bottom: 3px;
                        }
                    }
                    .line-n-arrow {
                        .line {
							background-color: #d8d8d8;
                            margin-top: 32px;
							content: "";
							height: 2px;
							transition: background .3s;
                            width: 70%;
                        }
						.elipse-btn-with-arrow {
							margin-right: -15px;
							margin-top: 5px;
						}
                    }
					&:hover {
						.image-container {
							&:before {
								opacity: 1;
							}
						}
						a {
							&.elipse-btn-with-arrow {
								background: linear-gradient(155deg, #ffddb1, #e8ab6e 70%) !important;
							}
						}
					}
                }
            }
            a {
                display: block;
                &.show-more {
                    margin: 0 auto 0;
                }
            }
        }
		#one-news-container {
			@include position(relative, 1009);
			background-color: #fff;
			display: none;
			left: 0;
			top: 0;
			overflow-y: hidden;
			height: auto;
			width: 100%;
			.nano {
				margin: 0;
			}
			.container {
				height: 100%;
				min-height: 745px;
				margin: 0 auto 30px;
                padding: 0 0 40px;
                .news-inside-table {
                    @media screen and (max-width: 640px) {
                        tr {
                            td {
                                display: block;
                                text-align: center;
                                width: 100% !important;
                            }
                        }
                    }
                    img {
                        display: block !important;
                        height: auto !important;
                        margin: 0 auto !important;
                        max-width: 100% !important;
                    }
                }
				.content {
					height: 100%;
					padding: 0 0 40px;
					break-inside: avoid;
					text-align: left;
					font: {
						family: 'Open Sans', sans-serif;
					}
                    ul {
                        margin-left: 10px;
                        li {
                            margin-right: 15px;
                            &:before {
                                margin-left: -14px;
                                font: {
                                    size: 26px;
                                }
                            }
                            span {
                                font: {
                                    size: 15px;
                                }
                            }
                        }
                    }
					h2 {
						font: {
							size: 42px;
							weight: 300;
						}
						margin: 22px 0 15px;
					}
					.date {
						color: #9a7b55;
						font: {
							size: 13px;
							weight: 600;
						}
						margin-bottom: 35px;
					}
					p {
						&.content-text {
							font: {
								size: 15px;
							}
						}
					}
					ul {
						li {
							width: 100%;
						}
					}
					a {
						&.back-link {
							@include position(relative, 1001);
							span {
								@include position(absolute, 1002);
								color: #000;
								left: 65px;
								font: {
									size:  14px;
									weight: 600; 
								}
								text-decoration: none;
								top: 0;
							}
						}
					}
					.short-line {
						margin: 0 0 15px;
					}
                    .news-gallery {
                        .gallery-offer-listing {
                            @include gallery-listing();
                            .container {
                                padding: 0 15px !important;
                                ul {
                                    &.slideshow-pager {
                                        width: 60%!important;
                                        li {
                                            margin: 0 6%;
                                            opacity: 1 !important;
                                            width: auto;
                                        }
                                    }
                                    li {
                                        &:before {
                                            display: none;
                                        }
                                        img {
                                            &.main-image {
                                                display: block;
                                                max-width: 100%;
                                                height: auto;
                                            }
                                        }
                                    }
                                }
                            }
                            .container {
                                .controls-pager {
                                    ul {
                                        li {
                                            bottom: calc(50% + 26px);
                                            width: 25%;
                                            @media screen and (max-width: 1919px) {
                                                bottom: calc(50% + 15px);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
				}
			}
		}
    }
}
#map-section {
    @include position(relative, 1001);
    height: 705px;
	margin-top: 200px;
    width: 100%;
	#map {
		height: 100%;
	}
    .shadow {
		@include position(absolute, 1002);
        left: 0;
        top: 270px;
		width: 46%;
		&:after {
			@include withShadow();
		}
		
	}
    .contact-info {
        @include position(absolute, 1002);
        background-color: #fff;
        content: "";
        height: 270px;
        left: 0;
        top: 0;
        width: 43%;
    }
    .container {
        height: auto;
        left: 0;
        right: 0;
        top: 0;
        width: 1200px;
        .contact-info-text {
            @include position(absolute, 1003);
            font: {
                weight: 300;
            }
            padding-top: 25px;
            top: 0;
            .short-line {
                background-color: #9a7b55;
                height: 2px;
                margin: 21px 7px 39px;
                width: 24px;
            }
            img {
                margin: 0 20px 0 7px;   
            }
            span {
                &.bigger {
                    font: {
                        size: 25px;
                        weight: 700;
                    }
                }
                &.address {
                    font: {
                        size: 17px;
                        weight: 600;
                    }
                }
            }
        }
        h3 {
            font: {
                size: 45px;
                weight: 300;
            }
            margin: 0;
        }
    }
}
#footer {
    font: {
        size: 14px;
    }
	padding-top: 40px;
    height: 135px;
    text-align: center;
}

#allpopup {
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    text-align: center;
    overflow-y: overlay;

    display: flex;
    justify-content: center;
    align-items: center;

    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -ms-align-content: stretch;
    -ms-justify-content: space-between;

    display: -moz-flex;
    -moz-flex-pack: center;
    -moz-flex-wrap: wrap;
    -moz-align-content: stretch;
    -moz-justify-content: space-between;

    display: -webkit-flex;
    -webkit-flex-pack: center;
    -webkit-flex-wrap: wrap;
    -webkit-align-content: stretch;
    -webkit-justify-content: space-between;
}

#allpopup.fadein .image {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#allpopup .image {
    position: relative;
    margin-left: initial;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    top: 0;
    opacity: 0;
    max-width: 80%;
    max-height: 80%;
    -webkit-transform: translate(2000px, 0);
    -moz-transform: translate(2000px, 0);
    -ms-transform: translate(2000px, 0);
    transform: translate(2000px, 0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#allpopup .image img {
	float: left;
	max-width: 100%;
	max-height: 100%;
}

#allpopup .image .close-popup {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: url(../../common/fancybox-1.3.4/fancybox.png) -40px 0px;;
    cursor: pointer;
    z-index: 1103;
}