/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-14, 16:22:59
    Author     : Tomek
*/
/*vars*/
/*end of vars*/
/*mixins*/
/*end of mixins*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%; }

.navbar, .navbar-sticky {
  display: none; }

.small-device {
  display: none; }
  .small-device a {
    color: #000; }

a.rounded-button {
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
a.ghost-button {
  border: 2px solid #484848;
  height: 44px;
  color: #484848;
  font-weight: 700;
  padding-top: 15px;
  transition: opacity .2s;
  width: 188px; }
  a.ghost-button:hover {
    opacity: .7; }
a.gradiented-button {
  background: linear-gradient(155deg, #ffcd8c, #df9f61 80%);
  box-shadow: 0 1px 1px rgba(92, 41, 0, 0.7);
  color: #fff;
  height: 48px;
  margin-left: -12px;
  margin-right: 12px;
  padding-top: 16px;
  text-shadow: 0 1px 1px rgba(118, 68, 13, 0.6);
  transition: opacity .2s;
  width: 193px; }
  a.gradiented-button:hover {
    opacity: .75; }
a.elipse-button {
  background: linear-gradient(155deg, #ffcd8c 35%, #df9f61) !important;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(92, 41, 0, 0.7) !important;
  cursor: pointer;
  font-weight: 600 !important;
  text-shadow: 0 1px 1px rgba(118, 68, 13, 0.6);
  text-transform: uppercase;
  transition: background .3s; }
  a.elipse-button:hover {
    background: linear-gradient(155deg, #ffddb1 35%, #e8ab6e) !important; }
a.elipse-btn-with-arrow {
  background: linear-gradient(155deg, #ffcd8c, #df9f61 70%) !important;
  box-shadow: 0 1px 2px rgba(92, 41, 0, 0.7) !important;
  border-radius: 50%;
  content: "";
  display: block;
  line-height: 50px;
  height: 50px;
  transition: background .3s;
  text-align: center;
  width: 50px; }
a.back-link {
  line-height: 46px;
  transition: background .3s; }
  a.back-link:hover {
    background: linear-gradient(155deg, #ffddb1, #e8ab6e 70%) !important; }
  a.back-link span {
    top: 3px !important; }
a.gallery-trigger {
  box-shadow: 0 1px 2px rgba(92, 41, 0, 0.7) !important;
  font-weight: 600 !important;
  text-shadow: 0 1px 1px rgba(118, 68, 13, 0.6);
  text-transform: uppercase; }
  a.gallery-trigger span {
    text-shadow: none; }
a#certificate-trigger {
  position: absolute;
  z-index: 1002;
  bottom: 100px;
  right: 174px;
  text-align: center;
  background: linear-gradient(to bottom, #ffb255, #b87422) !important;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(92, 41, 0, 0.7) !important;
  color: #fff;
  display: block;
  height: 120px;
  font-size: 14px;
  font-weight: 600 !important;
  padding: 30px 10px 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(118, 68, 13, 0.6);
  text-transform: uppercase;
  transition: background .3s;
  width: 120px; }
  a#certificate-trigger:hover {
    background: linear-gradient(to bottom, #ffc785, #c8822e) !important; }

img.only-small-device, img .only-medium-device {
  display: none; }

.container {
  margin: 0 auto;
  width: 1200px; }

.certificates-container {
  position: relative;
  z-index: 1001;
  display: none; }

/*Fancy box styles*/
#fancybox-wrap {
  position: fixed;
  z-index: 1100;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  margin: auto; }

/*end of fancybox styles*/
p {
  color: #484848 !important;
  font-size: 15px; }
  p.emphasize {
    font-size: 18px;
    margin: 30px 0 !important; }
    p.emphasize span {
      font-size: 18px !important; }

.subpage-content ul, #one-news-container ul {
  list-style: none;
  margin-left: 0;
  padding: 0; }
  .subpage-content ul li:before, #one-news-container ul li:before {
    content: "";
    display: inline-block;
    margin-left: -24px !important;
    height: 5px;
    margin-bottom: 3px;
    vertical-align: middle;
    width: 20px;
    background: url("../images/bullet.png") no-repeat center center; }
  .subpage-content ul li ul, #one-news-container ul li ul {
    list-style: none;
    margin-left: 0;
    padding: 0; }
    .subpage-content ul li ul li:before, #one-news-container ul li ul li:before {
      content: "";
      display: inline-block;
      margin-left: -24px !important;
      height: 5px;
      margin-bottom: 3px;
      vertical-align: middle;
      width: 20px;
      background: url("../images/bullet2.png") no-repeat center center; }

#header {
  position: relative;
  z-index: 1009;
  background: url("../images/header-bg.jpg") no-repeat center center;
  background-size: cover;
  height: 827px;
  width: 100%; }
  #header .container {
    position: relative;
    z-index: 1001;
    height: 100%; }
  #header .sticky-nav {
    position: fixed;
    z-index: 1008;
    background: #f7ece0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    height: 55px;
    line-height: 55px;
    left: 0;
    padding: 0;
    top: 0;
    width: 100%; }
    #header .sticky-nav ul {
      height: 100%;
      margin-left: 0;
      text-align: center;
      width: 100%; }
      #header .sticky-nav ul li {
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        float: none !important;
        height: 92%;
        margin: 0;
        text-transform: uppercase;
        position: relative;
        z-index: 1001; }
        #header .sticky-nav ul li a {
          color: #494949;
          cursor: pointer;
          text-decoration: none; }
          #header .sticky-nav ul li a:hover, #header .sticky-nav ul li a:focus {
            background-color: transparent; }
        #header .sticky-nav ul li:after {
          position: absolute;
          z-index: 1002;
          bottom: 0;
          background-color: #ce9e64;
          content: "";
          opacity: 0;
          left: calc(50% - 18px / 2);
          height: 2px;
          width: 18px; }
        #header .sticky-nav ul li:hover:after, #header .sticky-nav ul li.active:after {
          opacity: 1; }
  #header #upper-nav {
    position: fixed;
    z-index: 1008;
    background: transparent;
    height: 80px;
    line-height: 80px;
    padding-top: 40px; }
    #header #upper-nav ul {
      margin-left: 35px; }
      #header #upper-nav ul li {
        display: inline-block;
        margin-right: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600; }
        #header #upper-nav ul li a {
          color: #484848;
          cursor: pointer;
          text-decoration: none; }
          #header #upper-nav ul li a:hover, #header #upper-nav ul li a:focus {
            background-color: transparent; }
        #header #upper-nav ul li:hover a {
          color: #ce9e64; }
  #header #slider {
    height: 100%; }
    #header #slider .logo-section {
      padding-top: 17%;
      margin-left: 9%; }
    #header #slider .dentist {
      position: absolute;
      z-index: 1002;
      right: -35px;
      bottom: -48px; }
    #header #slider .buttons {
      margin-top: 73px; }
      #header #slider .buttons .rounded-button {
        margin-right: 15px; }
      #header #slider .buttons .ghost-button {
        height: 49px;
        width: 192px; }

#content {
  position: relative;
  z-index: 1001; }
  #content .container {
    padding: 0 5px; }
  #content .short-line {
    margin-bottom: 15px;
    margin-left: 5px;
    width: 24px; }
  #content .right-side-line, #content .left-side-line, #content .short-line {
    background-color: #9a7b55;
    content: "";
    height: 2px; }
  #content .right-side-line, #content .left-side-line {
    width: 42%; }
  #content .right-side-line {
    float: right; }
  #content .circle {
    position: relative;
    z-index: 999; }
  #content h3.section-header {
    position: relative;
    z-index: 1001;
    font-size: 45px;
    font-weight: 300;
    margin: 20px 0 27px; }
  #content p {
    font-size: 15px !important; }
  #content .left-col, #content .right-col {
    float: left;
    margin: 2% 0;
    width: 45%; }
    #content .left-col p, #content .right-col p {
      margin: 26px 0 0; }
  #content #about-me .right-col .short-line, #content #about-me .right-col p, #content #offer .right-col .short-line, #content #offer .right-col p {
    position: relative;
    z-index: 1001; }
  @media screen and (min-width: 1200px) {
    #content #cabinet {
      min-height: 914px; } }
  #content #cabinet .left-col .short-line, #content #cabinet .left-col p {
    position: relative;
    z-index: 1001; }
  #content #about-me {
    height: 750px;
    padding-top: 80px;
    margin-top: 10px; }
    #content #about-me .container {
      position: relative;
      z-index: 1001; }
      #content #about-me .container .left-col {
        position: relative;
        z-index: 1001;
        background: url("../images/pin-bg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 25%;
        background-position: 31% 56%;
        height: 705px;
        width: 50%; }
        #content #about-me .container .left-col .img-container {
          height: 80%; }
          #content #about-me .container .left-col .img-container:after {
            position: absolute;
            z-index: 1001;
            background-color: #000;
            bottom: 0;
            border-radius: 50%;
            display: block;
            filter: blur(25px);
            opacity: .65;
            content: "";
            left: 10%;
            height: 15px;
            width: 80%;
            bottom: 23%;
            left: 9%;
            opacity: .55;
            width: 60%; }
        #content #about-me .container .left-col img {
          position: absolute;
          z-index: 1002;
          left: 0;
          top: 65px; }
          #content #about-me .container .left-col img.only-medium-device {
            display: none; }
        #content #about-me .container .left-col a.elipse-button {
          position: absolute;
          z-index: 1003;
          bottom: 186px;
          background: linear-gradient(to right, #e2b075, #cf9f65);
          color: #fff;
          height: 150px;
          padding-top: 52px;
          right: 67px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          width: 150px; }
      #content #about-me .container .right-col {
        width: 50%;
        padding: 120px 0 0 13%; }
        #content #about-me .container .right-col .about-me-text h3 {
          margin-top: 25px; }
  #content #cabinet {
    position: relative;
    z-index: 1002;
    height: 100%;
    padding: 70px 0 80px; }
    #content #cabinet .container {
      height: 100%; }
      #content #cabinet .container .small-visible {
        display: none; }
      #content #cabinet .container .gallery-listing {
        position: absolute;
        z-index: 1003;
        background-color: #fff;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%; }
    #content #cabinet .right-col {
      padding-top: 120px; }
      #content #cabinet .right-col img {
        position: absolute;
        z-index: 1003;
        right: -18px;
        top: 70px; }
    #content #cabinet .left-col {
      width: 55%;
      padding: 0; }
      #content #cabinet .left-col p {
        width: 70%; }
      #content #cabinet .left-col h3.section-header {
        margin: 20px 0 26px; }
      #content #cabinet .left-col ul {
        padding: 60px 0 0; }
        #content #cabinet .left-col ul li {
          position: relative;
          z-index: 1003;
          margin-left: -4px !important;
          transition: opacity .3s;
          vertical-align: top; }
          #content #cabinet .left-col ul li:after {
            position: absolute;
            z-index: 1001;
            background-color: #000;
            bottom: 0;
            border-radius: 50%;
            display: block;
            filter: blur(25px);
            opacity: .65;
            content: "";
            left: 10%;
            height: 15px;
            width: 80%; }
          #content #cabinet .left-col ul li.second-one {
            margin-top: 90px;
            z-index: 1002; }
            #content #cabinet .left-col ul li.second-one:before {
              position: absolute;
              z-index: 1004;
              background-color: rgba(255, 255, 255, 0.5);
              content: "";
              left: 0;
              height: 100%;
              top: 0;
              width: 100%; }
            #content #cabinet .left-col ul li.second-one:hover a.gallery-trigger {
              background: linear-gradient(155deg, #ffddb1 35%, #e8ab6e) !important; }
            #content #cabinet .left-col ul li.second-one a.gallery-trigger {
              position: absolute;
              z-index: 1009;
              background: linear-gradient(155deg, #ffcd8c 35%, #df9f61) !important;
              border-radius: 50%;
              box-shadow: 1px 1px 1px #555;
              color: #fff;
              font-size: 16px;
              left: 25%;
              padding: 54px 10% 0;
              top: 25%;
              height: 150px;
              text-decoration: none;
              text-align: center;
              transition: background .3s;
              width: 150px; }
          #content #cabinet .left-col ul li img {
            position: relative;
            z-index: 1003;
            display: block; }
    #content #cabinet .gallery-listing {
      position: relative;
      z-index: 1009;
      background-color: #fff;
      left: 0;
      height: 100%;
      padding: 60px 0 40px;
      top: 0;
      width: 100%;
      display: none; }
      #content #cabinet .gallery-listing .container {
        margin: 0 auto;
        position: relative;
        z-index: 1001; }
        #content #cabinet .gallery-listing .container a.back-link {
          position: relative;
          z-index: 1001; }
          #content #cabinet .gallery-listing .container a.back-link span {
            position: absolute;
            z-index: 1002;
            color: #000;
            left: 65px;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            text-transform: none;
            top: 0; }
        #content #cabinet .gallery-listing .container ul li {
          text-align: center; }
          #content #cabinet .gallery-listing .container ul li img {
            margin: 0 auto; }
            #content #cabinet .gallery-listing .container ul li img.main-image {
              max-height: 500px;
              width: auto; }
        #content #cabinet .gallery-listing .container ul.slideshow-main {
          margin-bottom: 45px; }
          #content #cabinet .gallery-listing .container ul.slideshow-main li {
            width: 100%; }
        #content #cabinet .gallery-listing .container ul.slideshow-pager {
          height: 160px;
          margin: 0 auto;
          width: 85% !important; }
          #content #cabinet .gallery-listing .container ul.slideshow-pager li {
            cursor: pointer;
            margin: 0 20px; }
            #content #cabinet .gallery-listing .container ul.slideshow-pager li .img-container {
              position: relative;
              z-index: 1003;
              border: 7px solid transparent;
              transition: border .3s; }
              #content #cabinet .gallery-listing .container ul.slideshow-pager li .img-container:before {
                position: absolute;
                z-index: 1009;
                background: url(../images/hover-bg.png);
                background-position: center center;
                background-repeat: none;
                background-size: cover;
                content: "";
                left: 0;
                opacity: 0;
                top: 0;
                transition: opacity .3s;
                height: 100%;
                width: 100%; }
              #content #cabinet .gallery-listing .container ul.slideshow-pager li .img-container:after {
                position: absolute;
                z-index: 1001;
                background-color: #000;
                bottom: 0;
                border-radius: 50%;
                display: block;
                filter: blur(25px);
                opacity: .65;
                content: "";
                left: 10%;
                height: 15px;
                width: 80%; }
            #content #cabinet .gallery-listing .container ul.slideshow-pager li:hover .img-container:before {
              opacity: 1; }
            #content #cabinet .gallery-listing .container ul.slideshow-pager li.cycle-slide-active .img-container {
              border: 7px solid #ebd9bf; }
        #content #cabinet .gallery-listing .container #adv-custom-pager {
          margin: 0 auto;
          padding-top: 50px;
          text-align: center;
          text-align: justify;
          max-width: 75%; }
          #content #cabinet .gallery-listing .container #adv-custom-pager:after {
            display: inline-block;
            content: "";
            width: 100%; }
          #content #cabinet .gallery-listing .container #adv-custom-pager a {
            margin: 0; }
            #content #cabinet .gallery-listing .container #adv-custom-pager a img {
              position: relative;
              z-index: 1001;
              margin: 20px 0;
              vertical-align: top; }
              #content #cabinet .gallery-listing .container #adv-custom-pager a img:after {
                position: absolute;
                z-index: 1001;
                background-color: #000;
                bottom: 0;
                border-radius: 50%;
                display: block;
                filter: blur(25px);
                opacity: .65;
                content: "";
                left: 10%;
                height: 15px;
                width: 80%; }
        #content #cabinet .gallery-listing .container .controls {
          display: none; }
        #content #cabinet .gallery-listing .container .controls-pager ul {
          position: relative;
          z-index: 1001;
          list-style: none;
          margin-top: -50px; }
          #content #cabinet .gallery-listing .container .controls-pager ul li {
            position: absolute;
            z-index: 1002;
            bottom: 35px; }
            #content #cabinet .gallery-listing .container .controls-pager ul li#prev {
              left: 35px !important;
              right: auto !important; }
            #content #cabinet .gallery-listing .container .controls-pager ul li#next {
              left: auto !important;
              right: 0 !important; }
      #content #cabinet .gallery-listing .container ul.slideshow-pager li {
        opacity: 1 !important; }
  #content #offer {
    position: relative;
    z-index: 1001;
    height: auto; }
    #content #offer .ajax-loader {
      position: absolute;
      z-index: 1008;
      background-color: #fff;
      height: 100%;
      width: 100%; }
      #content #offer .ajax-loader img {
        position: absolute;
        z-index: 1009;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
        top: 0;
        animation: spin 1s linear infinite; }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  to {
    transform: rotate(360deg); } }
      #content #offer .ajax-loader p {
        text-align: center;
        position: absolute;
        z-index: 1009;
        bottom: 43%;
        font-size: 14px;
        font-weight: 700;
        left: 0;
        margin: auto;
        right: 0; }
    #content #offer .container {
      position: relative;
      z-index: 1001; }
    #content #offer .left-col img {
      position: absolute;
      z-index: 1002;
      left: 0 !important;
      top: 155px; }
    #content #offer .right-col {
      background: url("../images/offer-bg.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 25%;
      background-position: 75% 170px;
      float: right;
      height: 710px;
      width: 50%;
      padding: 0 0 0 13%; }
      #content #offer .right-col h3.section-header {
        margin: 20px 0 27px; }
      #content #offer .right-col span {
        background-color: transparent !important; }
      #content #offer .right-col .boxes {
        margin-top: 35px; }
        #content #offer .right-col .boxes ul li {
          position: relative;
          z-index: 1001;
          margin-bottom: 10px; }
          #content #offer .right-col .boxes ul li .pull-left, #content #offer .right-col .boxes ul li .pull-right {
            width: 50%; }
          #content #offer .right-col .boxes ul li .pull-right {
            padding-left: 55px; }
            #content #offer .right-col .boxes ul li .pull-right h3 {
              border-bottom: 2px solid #d8d8d8;
              margin: 0;
              padding: 50px 0;
              font-size: 16px;
              width: 90%; }
          #content #offer .right-col .boxes ul li a.main-href {
            position: absolute;
            z-index: 1009;
            content: "";
            color: #000;
            display: block;
            left: 0;
            top: 0;
            height: 100%;
            text-decoration: none;
            width: 100%; }
          #content #offer .right-col .boxes ul li .pull-left {
            position: relative;
            z-index: 1003; }
            #content #offer .right-col .boxes ul li .pull-left img.main-image {
              width: 100%; }
            #content #offer .right-col .boxes ul li .pull-left:after {
              position: absolute;
              z-index: 1001;
              background-color: #000;
              bottom: 0;
              border-radius: 50%;
              display: block;
              filter: blur(25px);
              opacity: .65;
              content: "";
              left: 10%;
              height: 15px;
              width: 80%; }
            #content #offer .right-col .boxes ul li .pull-left:before {
              position: absolute;
              z-index: 1009;
              background: url(../images/hover-bg.png);
              background-position: center center;
              background-repeat: none;
              background-size: cover;
              content: "";
              left: 0;
              opacity: 0;
              top: 0;
              transition: opacity .3s;
              height: 100%;
              width: 100%; }
            #content #offer .right-col .boxes ul li .pull-left a {
              position: relative;
              z-index: 1004; }
              #content #offer .right-col .boxes ul li .pull-left a.elipse-btn-with-arrow {
                position: absolute;
                z-index: 1009;
                bottom: 0;
                left: 90%;
                margin: auto;
                top: 0; }
          #content #offer .right-col .boxes ul li:hover .pull-left:before {
            opacity: 1; }
          #content #offer .right-col .boxes ul li:hover .pull-right h3 {
            border-color: #edb67d; }
          #content #offer .right-col .boxes ul li:hover a.elipse-btn-with-arrow {
            background: linear-gradient(155deg, #ffddb1, #e8ab6e 70%) !important; }
    #content #offer .subpage-content {
      position: relative;
      z-index: 1011;
      background-color: #fff;
      display: none;
      height: 760px;
      left: 0;
      margin-top: 0;
      min-height: 705px;
      padding: 40px 0 60px;
      top: 0;
      width: 100%; }
      @media screen and (min-width: 1920px) {
        #content #offer .subpage-content {
          padding: 80px 0 60px; } }
      #content #offer .subpage-content .nano {
        height: 760px; }
        #content #offer .subpage-content .nano .nano-content {
          right: -5px !important; }
      #content #offer .subpage-content a.back-link {
        position: relative;
        z-index: 1001;
        margin-left: 1px; }
        #content #offer .subpage-content a.back-link span {
          position: absolute;
          z-index: 1002;
          color: #000;
          left: 65px;
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
          top: 0; }
      #content #offer .subpage-content .content {
        column-count: 2;
        column-gap: 145px;
        line-height: 23px; }
        #content #offer .subpage-content .content ul {
          margin-left: 17px; }
          #content #offer .subpage-content .content ul li {
            margin-right: 15px; }
            #content #offer .subpage-content .content ul li:before {
              margin-left: -11px; }
            #content #offer .subpage-content .content ul li span {
              font-size: 15px; }
      #content #offer .subpage-content h2.subpage-header {
        display: block;
        font-size: 41px;
        font-weight: 300;
        margin: 20px 0;
        width: 100%; }
      #content #offer .subpage-content .gallery .gallery-offer-listing {
        position: relative;
        z-index: 1009;
        background-color: #fff;
        left: 0;
        height: 100%;
        padding: 60px 0 40px;
        top: 0;
        width: 100%; }
        #content #offer .subpage-content .gallery .gallery-offer-listing .container {
          margin: 0 auto;
          position: relative;
          z-index: 1001; }
          #content #offer .subpage-content .gallery .gallery-offer-listing .container a.back-link {
            position: relative;
            z-index: 1001; }
            #content #offer .subpage-content .gallery .gallery-offer-listing .container a.back-link span {
              position: absolute;
              z-index: 1002;
              color: #000;
              left: 65px;
              font-size: 14px;
              font-weight: 600;
              text-decoration: none;
              text-transform: none;
              top: 0; }
          #content #offer .subpage-content .gallery .gallery-offer-listing .container ul li {
            text-align: center; }
            #content #offer .subpage-content .gallery .gallery-offer-listing .container ul li img {
              margin: 0 auto; }
              #content #offer .subpage-content .gallery .gallery-offer-listing .container ul li img.main-image {
                max-height: 500px;
                width: auto; }
          #content #offer .subpage-content .gallery .gallery-offer-listing .container ul.slideshow-main {
            margin-bottom: 45px; }
            #content #offer .subpage-content .gallery .gallery-offer-listing .container ul.slideshow-main li {
              width: 100%; }
          #content #offer .subpage-content .gallery .gallery-offer-listing .container ul.slideshow-pager {
            height: 160px;
            margin: 0 auto;
            width: 85% !important; }
            #content #offer .subpage-content .gallery .gallery-offer-listing .container ul.slideshow-pager li {
              cursor: pointer;
              margin: 0 20px; }
              #content #offer .subpage-content .gallery .gallery-offer-listing .container ul.slideshow-pager li .img-container {
                position: relative;
                z-index: 1003;
                border: 7px solid transparent;
                transition: border .3s; }
                #content #offer .subpage-content .gallery .gallery-offer-listing .container ul.slideshow-pager li .img-container:before {
                  position: absolute;
                  z-index: 1009;
                  background: url(../images/hover-bg.png);
                  background-position: center center;
                  background-repeat: none;
                  background-size: cover;
                  content: "";
                  left: 0;
                  opacity: 0;
                  top: 0;
                  transition: opacity .3s;
                  height: 100%;
                  width: 100%; }
                #content #offer .subpage-content .gallery .gallery-offer-listing .container ul.slideshow-pager li .img-container:after {
                  position: absolute;
                  z-index: 1001;
                  background-color: #000;
                  bottom: 0;
                  border-radius: 50%;
                  display: block;
                  filter: blur(25px);
                  opacity: .65;
                  content: "";
                  left: 10%;
                  height: 15px;
                  width: 80%; }
              #content #offer .subpage-content .gallery .gallery-offer-listing .container ul.slideshow-pager li:hover .img-container:before {
                opacity: 1; }
              #content #offer .subpage-content .gallery .gallery-offer-listing .container ul.slideshow-pager li.cycle-slide-active .img-container {
                border: 7px solid #ebd9bf; }
          #content #offer .subpage-content .gallery .gallery-offer-listing .container #adv-custom-pager {
            margin: 0 auto;
            padding-top: 50px;
            text-align: center;
            text-align: justify;
            max-width: 75%; }
            #content #offer .subpage-content .gallery .gallery-offer-listing .container #adv-custom-pager:after {
              display: inline-block;
              content: "";
              width: 100%; }
            #content #offer .subpage-content .gallery .gallery-offer-listing .container #adv-custom-pager a {
              margin: 0; }
              #content #offer .subpage-content .gallery .gallery-offer-listing .container #adv-custom-pager a img {
                position: relative;
                z-index: 1001;
                margin: 20px 0;
                vertical-align: top; }
                #content #offer .subpage-content .gallery .gallery-offer-listing .container #adv-custom-pager a img:after {
                  position: absolute;
                  z-index: 1001;
                  background-color: #000;
                  bottom: 0;
                  border-radius: 50%;
                  display: block;
                  filter: blur(25px);
                  opacity: .65;
                  content: "";
                  left: 10%;
                  height: 15px;
                  width: 80%; }
          #content #offer .subpage-content .gallery .gallery-offer-listing .container .controls {
            display: none; }
          #content #offer .subpage-content .gallery .gallery-offer-listing .container .controls-pager ul {
            position: relative;
            z-index: 1001;
            list-style: none;
            margin-top: -50px; }
            #content #offer .subpage-content .gallery .gallery-offer-listing .container .controls-pager ul li {
              position: absolute;
              z-index: 1002;
              bottom: 35px; }
              #content #offer .subpage-content .gallery .gallery-offer-listing .container .controls-pager ul li#prev {
                left: 35px !important;
                right: auto !important; }
              #content #offer .subpage-content .gallery .gallery-offer-listing .container .controls-pager ul li#next {
                left: auto !important;
                right: 0 !important; }
        #content #offer .subpage-content .gallery .gallery-offer-listing .container {
          padding: 0 15px !important; }
        #content #offer .subpage-content .gallery .gallery-offer-listing ul.slideshow-pager li {
          opacity: 1 !important; }
        #content #offer .subpage-content .gallery .gallery-offer-listing ul li:before {
          display: none; }
  #content #news {
    position: relative;
    z-index: 1001;
    height: auto;
    padding-top: 100px; }
    #content #news .small-device {
      display: none; }
    #content #news .ajax-loader {
      position: absolute;
      z-index: 1008;
      background-color: #fff;
      height: 100%;
      width: 100%; }
      #content #news .ajax-loader img {
        position: fixed;
        z-index: 1009;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
        top: 0;
        animation: spin 1s linear infinite; }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  to {
    transform: rotate(360deg); } }
      #content #news .ajax-loader p {
        text-align: center;
        position: fixed;
        z-index: 1009;
        bottom: 43%;
        font-size: 14px;
        font-weight: 700;
        left: 0;
        margin: auto;
        right: 0; }
    #content #news .container {
      position: relative;
      z-index: 1001;
      height: 100%;
      text-align: center; }
      #content #news .container .short-line {
        margin: 0 auto 30px; }
      #content #news .container ul {
        padding-top: 30px;
        text-align: justify; }
        #content #news .container ul:after {
          display: inline-block;
          content: "";
          width: 100%; }
        #content #news .container ul li {
          position: relative;
          z-index: 1001;
          padding: 0 7px;
          margin-bottom: 30px;
          cursor: pointer;
          vertical-align: top;
          width: 25%; }
          #content #news .container ul li a.main-href {
            position: absolute;
            z-index: 1009;
            content: "";
            color: #000;
            display: block;
            left: 0;
            top: 0;
            height: 100%;
            text-decoration: none;
            width: 100%;
            position: relative; }
          #content #news .container ul li:hover .line-n-arrow .line {
            background-color: #edb67d; }
          #content #news .container ul li .image-container {
            position: relative;
            z-index: 1001;
            margin: 0 auto 25px; }
            #content #news .container ul li .image-container:after {
              position: absolute;
              z-index: 1001;
              background-color: #000;
              bottom: 0;
              border-radius: 50%;
              display: block;
              filter: blur(25px);
              opacity: .65;
              content: "";
              left: 10%;
              height: 15px;
              width: 80%;
              bottom: 5px;
              opacity: .7; }
            #content #news .container ul li .image-container:before {
              position: absolute;
              z-index: 1009;
              background: url(../images/hover-bg.png);
              background-position: center center;
              background-repeat: none;
              background-size: cover;
              content: "";
              left: 0;
              opacity: 0;
              top: 0;
              transition: opacity .3s;
              height: 100%;
              width: 100%; }
            #content #news .container ul li .image-container img.news-thumbnail {
              position: relative;
              z-index: 1002;
              display: block;
              width: 100%; }
          #content #news .container ul li p {
            text-align: left; }
            #content #news .container ul li p.date {
              color: #9a7b55;
              font-size: 13px;
              font-weight: 600; }
            #content #news .container ul li p.news-excerpt {
              color: #484848;
              line-height: 130%;
              font-size: 15px;
              font-weight: 700;
              margin-bottom: 3px; }
          #content #news .container ul li .line-n-arrow .line {
            background-color: #d8d8d8;
            margin-top: 32px;
            content: "";
            height: 2px;
            transition: background .3s;
            width: 70%; }
          #content #news .container ul li .line-n-arrow .elipse-btn-with-arrow {
            margin-right: -15px;
            margin-top: 5px; }
          #content #news .container ul li:hover .image-container:before {
            opacity: 1; }
          #content #news .container ul li:hover a.elipse-btn-with-arrow {
            background: linear-gradient(155deg, #ffddb1, #e8ab6e 70%) !important; }
      #content #news .container a {
        display: block; }
        #content #news .container a.show-more {
          margin: 0 auto 0; }
    #content #news #one-news-container {
      position: relative;
      z-index: 1009;
      background-color: #fff;
      display: none;
      left: 0;
      top: 0;
      overflow-y: hidden;
      height: auto;
      width: 100%; }
      #content #news #one-news-container .nano {
        margin: 0; }
      #content #news #one-news-container .container {
        height: 100%;
        min-height: 745px;
        margin: 0 auto 30px;
        padding: 0 0 40px; }
        @media screen and (max-width: 640px) {
          #content #news #one-news-container .container .news-inside-table tr td {
            display: block;
            text-align: center;
            width: 100% !important; } }
        #content #news #one-news-container .container .news-inside-table img {
          display: block !important;
          height: auto !important;
          margin: 0 auto !important;
          max-width: 100% !important; }
        #content #news #one-news-container .container .content {
          height: 100%;
          padding: 0 0 40px;
          break-inside: avoid;
          text-align: left;
          font-family: 'Open Sans', sans-serif; }
          #content #news #one-news-container .container .content ul {
            margin-left: 10px; }
            #content #news #one-news-container .container .content ul li {
              margin-right: 15px; }
              #content #news #one-news-container .container .content ul li:before {
                margin-left: -14px;
                font-size: 26px; }
              #content #news #one-news-container .container .content ul li span {
                font-size: 15px; }
          #content #news #one-news-container .container .content h2 {
            font-size: 42px;
            font-weight: 300;
            margin: 22px 0 15px; }
          #content #news #one-news-container .container .content .date {
            color: #9a7b55;
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 35px; }
          #content #news #one-news-container .container .content p.content-text {
            font-size: 15px; }
          #content #news #one-news-container .container .content ul li {
            width: 100%; }
          #content #news #one-news-container .container .content a.back-link {
            position: relative;
            z-index: 1001; }
            #content #news #one-news-container .container .content a.back-link span {
              position: absolute;
              z-index: 1002;
              color: #000;
              left: 65px;
              font-size: 14px;
              font-weight: 600;
              text-decoration: none;
              top: 0; }
          #content #news #one-news-container .container .content .short-line {
            margin: 0 0 15px; }
          #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing {
            position: relative;
            z-index: 1009;
            background-color: #fff;
            left: 0;
            height: 100%;
            padding: 60px 0 40px;
            top: 0;
            width: 100%; }
            #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container {
              margin: 0 auto;
              position: relative;
              z-index: 1001; }
              #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container a.back-link {
                position: relative;
                z-index: 1001; }
                #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container a.back-link span {
                  position: absolute;
                  z-index: 1002;
                  color: #000;
                  left: 65px;
                  font-size: 14px;
                  font-weight: 600;
                  text-decoration: none;
                  text-transform: none;
                  top: 0; }
              #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul li {
                text-align: center; }
                #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul li img {
                  margin: 0 auto; }
                  #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul li img.main-image {
                    max-height: 500px;
                    width: auto; }
              #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-main {
                margin-bottom: 45px; }
                #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-main li {
                  width: 100%; }
              #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-pager {
                height: 160px;
                margin: 0 auto;
                width: 85% !important; }
                #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-pager li {
                  cursor: pointer;
                  margin: 0 20px; }
                  #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-pager li .img-container {
                    position: relative;
                    z-index: 1003;
                    border: 7px solid transparent;
                    transition: border .3s; }
                    #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-pager li .img-container:before {
                      position: absolute;
                      z-index: 1009;
                      background: url(../images/hover-bg.png);
                      background-position: center center;
                      background-repeat: none;
                      background-size: cover;
                      content: "";
                      left: 0;
                      opacity: 0;
                      top: 0;
                      transition: opacity .3s;
                      height: 100%;
                      width: 100%; }
                    #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-pager li .img-container:after {
                      position: absolute;
                      z-index: 1001;
                      background-color: #000;
                      bottom: 0;
                      border-radius: 50%;
                      display: block;
                      filter: blur(25px);
                      opacity: .65;
                      content: "";
                      left: 10%;
                      height: 15px;
                      width: 80%; }
                  #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-pager li:hover .img-container:before {
                    opacity: 1; }
                  #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-pager li.cycle-slide-active .img-container {
                    border: 7px solid #ebd9bf; }
              #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container #adv-custom-pager {
                margin: 0 auto;
                padding-top: 50px;
                text-align: center;
                text-align: justify;
                max-width: 75%; }
                #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container #adv-custom-pager:after {
                  display: inline-block;
                  content: "";
                  width: 100%; }
                #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container #adv-custom-pager a {
                  margin: 0; }
                  #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container #adv-custom-pager a img {
                    position: relative;
                    z-index: 1001;
                    margin: 20px 0;
                    vertical-align: top; }
                    #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container #adv-custom-pager a img:after {
                      position: absolute;
                      z-index: 1001;
                      background-color: #000;
                      bottom: 0;
                      border-radius: 50%;
                      display: block;
                      filter: blur(25px);
                      opacity: .65;
                      content: "";
                      left: 10%;
                      height: 15px;
                      width: 80%; }
              #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container .controls {
                display: none; }
              #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container .controls-pager ul {
                position: relative;
                z-index: 1001;
                list-style: none;
                margin-top: -50px; }
                #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container .controls-pager ul li {
                  position: absolute;
                  z-index: 1002;
                  bottom: 35px; }
                  #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container .controls-pager ul li#prev {
                    left: 35px !important;
                    right: auto !important; }
                  #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container .controls-pager ul li#next {
                    left: auto !important;
                    right: 0 !important; }
            #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container {
              padding: 0 15px !important; }
              #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-pager {
                width: 60% !important; }
                #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-pager li {
                  margin: 0 6%;
                  opacity: 1 !important;
                  width: auto; }
              #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul li:before {
                display: none; }
              #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul li img.main-image {
                display: block;
                max-width: 100%;
                height: auto; }
            #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container .controls-pager ul li {
              bottom: calc(50% + 26px);
              width: 25%; }
              @media screen and (max-width: 1919px) {
                #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container .controls-pager ul li {
                  bottom: calc(50% + 15px); } }

#map-section {
  position: relative;
  z-index: 1001;
  height: 705px;
  margin-top: 200px;
  width: 100%; }
  #map-section #map {
    height: 100%; }
  #map-section .shadow {
    position: absolute;
    z-index: 1002;
    left: 0;
    top: 270px;
    width: 46%; }
    #map-section .shadow:after {
      position: absolute;
      z-index: 1001;
      background-color: #000;
      bottom: 0;
      border-radius: 50%;
      display: block;
      filter: blur(25px);
      opacity: .65;
      content: "";
      left: 10%;
      height: 15px;
      width: 80%; }
  #map-section .contact-info {
    position: absolute;
    z-index: 1002;
    background-color: #fff;
    content: "";
    height: 270px;
    left: 0;
    top: 0;
    width: 43%; }
  #map-section .container {
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    width: 1200px; }
    #map-section .container .contact-info-text {
      position: absolute;
      z-index: 1003;
      font-weight: 300;
      padding-top: 25px;
      top: 0; }
      #map-section .container .contact-info-text .short-line {
        background-color: #9a7b55;
        height: 2px;
        margin: 21px 7px 39px;
        width: 24px; }
      #map-section .container .contact-info-text img {
        margin: 0 20px 0 7px; }
      #map-section .container .contact-info-text span.bigger {
        font-size: 25px;
        font-weight: 700; }
      #map-section .container .contact-info-text span.address {
        font-size: 17px;
        font-weight: 600; }
    #map-section .container h3 {
      font-size: 45px;
      font-weight: 300;
      margin: 0; }

#footer {
  font-size: 14px;
  padding-top: 40px;
  height: 135px;
  text-align: center; }

#allpopup {
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    text-align: center;
    overflow-y: overlay;

    display: flex;
    justify-content: center;
    align-items: center;

    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -ms-align-content: stretch;
    -ms-justify-content: space-between;

    display: -moz-flex;
    -moz-flex-pack: center;
    -moz-flex-wrap: wrap;
    -moz-align-content: stretch;
    -moz-justify-content: space-between;

    display: -webkit-flex;
    -webkit-flex-pack: center;
    -webkit-flex-wrap: wrap;
    -webkit-align-content: stretch;
    -webkit-justify-content: space-between;
}

#allpopup.fadein .image {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#allpopup .image {
    position: relative;
    margin-left: initial;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    top: 0;
    opacity: 0;
    max-width: 80%;
    max-height: 80%;
    -webkit-transform: translate(2000px, 0);
    -moz-transform: translate(2000px, 0);
    -ms-transform: translate(2000px, 0);
    transform: translate(2000px, 0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#allpopup .image img {
	float: left;
	max-width: 100%;
	max-height: 100%;
}

#allpopup .image .close-popup {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: url(../../common/fancybox-1.3.4/fancybox.png) -40px 0px;;
    cursor: pointer;
    z-index: 1103;
}

/*# sourceMappingURL=1920.css.map */
