/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-26, 10:20:09
    Author     : Tomasz Jacek
*/
@media screen and (max-width: 639px	) {
	body {
		position: relative;
		z-index: 1001;
	}
	.container {
		width: 100% !important;
		margin: 0 auto !important;
	}
	a {
		&.rounded-button, &.ghost-button {
			width: 175px !important;
		}
        &#certificate-trigger {
            $value: 85px;
            bottom: -47px;
            height: $value;
            font: {
                size: 10px;
            }
            padding: 22px 5px 0;
            right: 130px;
            width: $value;
    }
	}
	.navbar {
		background: transparent;
		box-shadow: none;
		border-bottom: 2px solid #fce7d1;
		left: 0;
		display: block;
		line-height: 62px;
		position: absolute;
		top: 0;
		z-index: 1009;
		width: 100%;
		.container-fluid {
			padding: 0;
		}
		.navbar-collapse {
			border: none;
			ul {
				background: url("../images/header-bg.jpg") no-repeat center center;
				margin: 0;
				padding: 0 30px;
			}
		}
		.navbar-header {
			width: 100%;
			button.navbar-toggle {
				margin: 11px 5px 0 13px;
				span {
					&.icon-bar {
						background-color: #333 !important;
						color: #484848;
						margin-bottom: 7px;
						height: 3px;
						width: 30px;
					}
				}
			}
		}
		.rwd-nav {
			background: #ddac71;
			position: absolute;
			top: 0;
			left: 0;
			height: 508px;
			padding-top: 95px;
			display: none;
			width: 100%;
			z-index: 1009;
			.close-nav {
				color: #fff;
				position: absolute;
				z-index: 1008;
				top: 0;
				left: 5px;
				a {
					color: #fff;
				}
				span {
					font-size: 13px;
					font-weight: 700;
					margin-left: 50px;
				}
			}
			ul {
				width: 100%;
				margin: 0;
				padding: 0;
				li {
					display: block;
					margin: 0 auto;
					font: {
						size: 20px;
					}
					text-align: center;
					text-transform: uppercase;
					width: 100%;
					a {
						border-radius: 60px;
						color: #fff;
						margin: 10px auto;
						padding: 20px 0;
						text-shadow: 0 1px 1px rgba(#76440d, .6);
						width: 90%;
						&:hover {
							color: #fff;
							box-shadow: inset 0 2px 5px rgba(#000, .5);
							background: #c59357;
						}
					}
				}
			}
		}
		p {
			display: inline-block;
			margin: 0;
			font-size: 13px;
			font-weight: 700;
			&.menu {
				width: 25%;
			}
			&.pull-right {
				font: {
					size: 13px;
				}
			}
            &#phone {
                line-height: normal;
                padding-top: 30px;
            }
		}
		.logo {
			display: none;
		}
		button.navbar-toggle, button.navbar-toggle:focus, button.navbar-toggle:hover {
			background-color: transparent !important;
			border: none;
			float: left;
		}
		ul {
			line-height: 32px;
			li {
				display: block;
				cursor: pointer;
				a {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	.navbar-sticky {
		background: #f7ece0;
		box-shadow: 0 2px 5px rgba(#000, .2);
		border-bottom: 2px solid #fce7d1;
		display: none;
		left: 0;
		display: block;
		line-height: 57px;
		height: 55px;
		position: fixed;
		top: 0;
		z-index: 1009;
		width: 100%;	
		.container-fluid {
			padding: 0;
		}
		.navbar-collapse {
			border: none;
			&.collapse {
				display: none !important;
			}
			&.in {
				display: block !important;
			}
			ul {
				background: url("../images/header-bg.jpg") no-repeat center center;
				margin: 0;
				padding: 0 30px;
				width: 100%;
				li {
					display: block;
					float: none !important;
				}
			}
		}
		.navbar-header {
			width: 100%;
			button.navbar-toggle {
				margin: 7px 5px 0 13px;
				span {
					&.icon-bar {
						margin-bottom: 7px;
						width: 30px;
					}
				}
			}
		}
		.rwd-nav {
			background: #ddac71;
			position: absolute;
			top: 0;
			left: 0;
			height: 710px;
			padding-top: 160px;
			display: none;
			width: 100%;
			z-index: 1009;
			.close-nav {
				color: #fff;
				position: absolute;
				z-index: 1008;
				top: 0;
				left: 5px;
				a {
					color: #fff;
				}
				span {
					font-weight: 700;
					margin-left: 50px;
				}
			}
			ul {
				width: 100%;
				margin: 0;
				padding: 0;
				li {
					display: block;
					margin: 0 auto;
					font: {
						size: 20px;
					}
					text-align: center;
					text-transform: uppercase;
					width: 100%;
					a {
						border-radius: 60px;
						color: #fff;
						margin: 10px auto;
						padding: 20px 0;
						text-shadow: 0 1px 1px rgba(#76440d, .6);
						width: 90%;
						&:hover {
							color: #fff;
							box-shadow: inset 0 2px 5px rgba(#000, .5);
							background: #c59357;
						}
					}
				}
			}
		}
		p {
			display: inline-block;
			margin: 0;
			font-weight: 700;
			&.menu {
				font: {
					size: 14px;
				}
				width: 25%;
			}
			&.pull-right {
				font: {
					size: 13px;
				}
				margin-right: 10px;
			}
		}
		.logo {
			display: none;
		}
		button.navbar-toggle, button.navbar-toggle:focus, button.navbar-toggle:hover {
			background-color: transparent;
			border: none;
			display: block;
			float: left;
		}
		button.navbar-toggle {
			span {
				background-color: #333 !important;
				color: #484848;
				height: 3px;
			}
		}
		ul {
			line-height: 32px;
			li {
				display: block;
				cursor: pointer;
				a {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	.container {
		max-width: 300px;
	}
	#header {
		height: 510px;
		position: relative;
		z-index: 1001;
		#upper-nav {
			display: none;
		}
		#slider {
			.logo-section {
				text-align: center;
				margin-left: 0;
				padding-top: 115px;
				img {
					width: 240px;
				}
				.buttons {
					margin-top: 40px;
					a {
						display: inline-block;
						float: none !important;
						margin-left: 0;
						margin-right: 0;
						margin-bottom: 15px;
					}
				}
			}
			.dentist {
				display: none;
			}
		}
	}
	#content {
		> div {
			height: 510px;
		}
		img {
			max-width: 300px;
			&.header-ico {
				display: none;
			}
			&.only-small-device {
				display: block;
			}
			&.main-img {
				display: none;
			}
		}
		h3 {
			&.section-header {
				margin: 30px 0 20px;
				font-size: 34px;
				text-align: center;
				width: 100%;
			}
		}
		p {
			text-align: center;
			margin: 10px auto 0;
		}
		.short-line {
			margin: 0 auto 20px;
			text-align: center;
		}
		.right-col {
			float: none !important;
			width: 100% !important;
		}
		.right-side-line, .left-side-line {
			display: none !important;
		}
		#about-me {
			height: 100%;
			margin-top: 0;
			padding-top: 35px;
			.container {
				.right-col {
					padding: 180px 0 0 !important;
				}
				.about-me-img {
					margin: 0 auto;
					img {
						position: relative !important;
						left: auto;
						top: auto;
					}
				}
				.left-col {
					background: transparent;
					height: auto;
					padding: 0 13%;
					margin-bottom: 20px;
					width: 100%;
					.img-container {
						&:after {
							bottom: 16px;
							left: 25%;
							width: 30%;
						}
					}
					a {
						&.elipse-button {
							$value: 85px;
							font: {
								size: 11px;
								weight: 600;
							}
							height: $value;
							left: 50%;
							padding-top: 26px;
							top: 61px;
							width: $value;
						}
					}
				}
			}
		}
		#cabinet {
			height: auto;
			padding-top: 20px;
			.container {
				margin: 0 auto;
			}
			.right-col {
				display: none;
			}
			.left-col {
				text-align: center;
				width: 100% !important;
				ul {
					padding: 40px 0 0;
					li {
						width: 49%;
						img {
							width: 100%;
						}
						&.first-one {
							margin-top: 30px;
						}
						&.second-one {
							margin-top: 0;
							margin-top: 0;
							a {
								&.gallery-trigger {
									$value: 75px;
									font: {
										size: 11px;
									}
									line-height: normal;
                                    padding: 25px 10% 0;
									height: $value;
									width: $value;
								}
							}
						}
					}
				}
				p {
					width: 100%;
				}
			}
			.gallery-listing {
				#adv-custom-pager {
					display: none;
				}
				.elipse-btn-with-arrow {
					margin: 0 auto;
				}
				.container {
					ul {
						margin: 40px 0;
						li {
							left: 0 !important;
                            img {
                                &.main-image {
                                    max-height: 240px;
                                }
                            }
						}
						&.slideshow-pager {
							display: none;
						}
					}
				}
				.controls {
					display: block !important;
					ul {
						list-style: none;
						margin: 0 auto;
						padding: 0;
						text-align: center;
						li {
							display: inline-block;
							
						}
					}
				}
				.controls-pager {
					display: none;
				}
			}
		}
		#offer {
			height: auto;
			padding-top: 50px;
			.ajax-loader {
				height: 575px;
				p {
					bottom: 40%;
				}
			}
			.left-col {
				display: none !important;
			}
			.container {
				margin: 0 auto;
				padding: 0;
				.right-col {
					background: none;
					height: auto;
					padding: 0;
					p {
						width: 100% !important;
					}
					.boxes {
						margin: 20px auto 0;
						width: 100%;
						ul {
							li {
								margin-bottom: 22px;
								img {
									max-width: 150px;
								}
								.offer-name {
									padding: 10px;
									h3 {
										font: {
											size: 12px;
											weight: 600;
										}
										margin-top: 20px;
										width: 100%;
									}
								}
								a {
									&.elipse-btn-with-arrow {
										$value: 40px;
                                        bottom: 0;
										height: $value;
										line-height: $value;
										left: 86%;
                                        margin: auto;
										top: 0;
										width: $value;
									}
								}
								.pull-right {
									padding-left: 30px !important;
									h3 {
										margin: 0 !important;
										padding: 20px 0;
									}
								}
								.offer-name {
									padding-top: 25px;
									font-size: 11px;
								}
							}
						}
					}
				}
			}
			.subpage-content {
				height: auto;
				padding: 0;
				width: 100%;
				.content {
					column-count: 1 !important;
					padding: 0 15px;
				}
				.container {
					height: auto;
					max-width: 500px;
					.nano-content {
						position: relative;
					}
					a {
						&.elipse-btn-with-arrow {
							margin: 0 auto;
						}
					}
					h2 {
						font-size: 30px;
						text-align: center;
					}
					p {
						font-size: 15px;
						text-align: left;
						width: 100%;
					}
                    .offer-gallery {
                        .controls-pager, .slideshow-pager {
                            display: none;
                        }
                        img {
                            max-width: 100%;
                        }
                        .controls {
                            display: block !important;
                            ul {
                                max-width: 155px;
                                margin: 0 auto;
                                li {
                                    display: inline-block;
                                    margin: 0;
                                    width: 45%;
                                }
                            }
                        }
                    }
				}
			}
		}
		#news {
			height: auto;
			padding: 45px 0;
			.large-device {
				display: none;
			}
			.small-device {
				display: block;
			}
			.container {
				margin: 0 auto;
                .short-line {
                    margin: 0 auto 10px;
                }
				ul {
					padding-top: 0;
					li {
						margin: 0;
						width: 100%;
						&:nth-child(3) {
							display: none;
						}
						img, p {
							float: left;
						}
						img {
							max-width: 150px;
						}
						.image-container {
							margin: 0 0 25px;
							width: 49%;
							&:after  {
								display: none;
							}
						}
						p {
							font: {
								size: 13px !important;
							}
							margin: 0 0 5px !important;
							padding: 0 0 0 20px;
							width: 45%;
							&.news-excerpt {
								min-height: 130px;
							}
						}
						.line-n-arrow {
							display: none;
						}
					}
				}
			}
			#one-news-container {
				.column-content {
                    column-count: 1 !important;
					column-gap: 0 !important;
				}
                .nano {
                    .nano-content {
                        position: relative;
                    }
                }
				.container {
					min-height: 370px;
					max-width: 500px;
                    .content {
                        ul {
                            li {
                                &:before {
                                    margin-left: -11px;
                                }
                            }
                        }
                    }
					a {
						&.elipse-btn-with-arrow {
							margin: 0 auto;
						}
					}
					h2 {
						text-align: center;
					}
					ul {
						margin: 0;
						padding-left: 20px;
					}
					.short-line {
						margin: 0 auto 35px !important;
					}
					.date {
						text-align: center;
					}
                    p {
                        text-align: left;
                    }
                    .news-gallery {
                        .controls-pager, .slideshow-pager {
                            display: none;
                        }
                        img {
                            max-width: 100%;
                        }
                        .controls {
                            display: block !important;
                            ul {
                                max-width: 155px;
                                margin: 0 auto;
                                li {
                                    display: inline-block;
                                    margin: 0;
                                    width: auto;
                                }
                            }
                        }
                    }
				}
			}
		}
	}
	#map-section {
		height: 510px;
		margin-top: 30px;
		.shadow {
			display: none;
		}
		.contact-info {
			height: 180px;
			width: 100%;
		}
		.container {
			height: auto;
			margin: 0 auto;
			.contact-info-text {
				margin: auto;
				left: 0;
				right: 0;
				text-align: center;
				h3 {
					font: {
						size: 30px;
					}
					text-align: center;
				}
				.short-line {
					margin: 20px auto;
				}
				p {
					font: {
						size: 20px;
					}
				}
			}
		}
	}
}