/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-26, 10:20:09
    Author     : Tomasz Jacek
*/
@media screen and (max-width: 639px) {
  body {
    position: relative;
    z-index: 1001; }

  .container {
    width: 100% !important;
    margin: 0 auto !important; }

  a.rounded-button, a.ghost-button {
    width: 175px !important; }
  a#certificate-trigger {
    bottom: -47px;
    height: 85px;
    font-size: 10px;
    padding: 22px 5px 0;
    right: 130px;
    width: 85px; }

  .navbar {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #fce7d1;
    left: 0;
    display: block;
    line-height: 62px;
    position: absolute;
    top: 0;
    z-index: 1009;
    width: 100%; }
    .navbar .container-fluid {
      padding: 0; }
    .navbar .navbar-collapse {
      border: none; }
      .navbar .navbar-collapse ul {
        background: url("../images/header-bg.jpg") no-repeat center center;
        margin: 0;
        padding: 0 30px; }
    .navbar .navbar-header {
      width: 100%; }
      .navbar .navbar-header button.navbar-toggle {
        margin: 11px 5px 0 13px; }
        .navbar .navbar-header button.navbar-toggle span.icon-bar {
          background-color: #333 !important;
          color: #484848;
          margin-bottom: 7px;
          height: 3px;
          width: 30px; }
    .navbar .rwd-nav {
      background: #ddac71;
      position: absolute;
      top: 0;
      left: 0;
      height: 508px;
      padding-top: 95px;
      display: none;
      width: 100%;
      z-index: 1009; }
      .navbar .rwd-nav .close-nav {
        color: #fff;
        position: absolute;
        z-index: 1008;
        top: 0;
        left: 5px; }
        .navbar .rwd-nav .close-nav a {
          color: #fff; }
        .navbar .rwd-nav .close-nav span {
          font-size: 13px;
          font-weight: 700;
          margin-left: 50px; }
      .navbar .rwd-nav ul {
        width: 100%;
        margin: 0;
        padding: 0; }
        .navbar .rwd-nav ul li {
          display: block;
          margin: 0 auto;
          font-size: 20px;
          text-align: center;
          text-transform: uppercase;
          width: 100%; }
          .navbar .rwd-nav ul li a {
            border-radius: 60px;
            color: #fff;
            margin: 10px auto;
            padding: 20px 0;
            text-shadow: 0 1px 1px rgba(118, 68, 13, 0.6);
            width: 90%; }
            .navbar .rwd-nav ul li a:hover {
              color: #fff;
              box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
              background: #c59357; }
    .navbar p {
      display: inline-block;
      margin: 0;
      font-size: 13px;
      font-weight: 700; }
      .navbar p.menu {
        width: 25%; }
      .navbar p.pull-right {
        font-size: 13px; }
      .navbar p#phone {
        line-height: normal;
        padding-top: 30px; }
    .navbar .logo {
      display: none; }
    .navbar button.navbar-toggle, .navbar button.navbar-toggle:focus, .navbar button.navbar-toggle:hover {
      background-color: transparent !important;
      border: none;
      float: left; }
    .navbar ul {
      line-height: 32px; }
      .navbar ul li {
        display: block;
        cursor: pointer; }
        .navbar ul li a {
          color: #000;
          text-decoration: none; }

  .navbar-sticky {
    background: #f7ece0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #fce7d1;
    display: none;
    left: 0;
    display: block;
    line-height: 57px;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 1009;
    width: 100%; }
    .navbar-sticky .container-fluid {
      padding: 0; }
    .navbar-sticky .navbar-collapse {
      border: none; }
      .navbar-sticky .navbar-collapse.collapse {
        display: none !important; }
      .navbar-sticky .navbar-collapse.in {
        display: block !important; }
      .navbar-sticky .navbar-collapse ul {
        background: url("../images/header-bg.jpg") no-repeat center center;
        margin: 0;
        padding: 0 30px;
        width: 100%; }
        .navbar-sticky .navbar-collapse ul li {
          display: block;
          float: none !important; }
    .navbar-sticky .navbar-header {
      width: 100%; }
      .navbar-sticky .navbar-header button.navbar-toggle {
        margin: 7px 5px 0 13px; }
        .navbar-sticky .navbar-header button.navbar-toggle span.icon-bar {
          margin-bottom: 7px;
          width: 30px; }
    .navbar-sticky .rwd-nav {
      background: #ddac71;
      position: absolute;
      top: 0;
      left: 0;
      height: 710px;
      padding-top: 160px;
      display: none;
      width: 100%;
      z-index: 1009; }
      .navbar-sticky .rwd-nav .close-nav {
        color: #fff;
        position: absolute;
        z-index: 1008;
        top: 0;
        left: 5px; }
        .navbar-sticky .rwd-nav .close-nav a {
          color: #fff; }
        .navbar-sticky .rwd-nav .close-nav span {
          font-weight: 700;
          margin-left: 50px; }
      .navbar-sticky .rwd-nav ul {
        width: 100%;
        margin: 0;
        padding: 0; }
        .navbar-sticky .rwd-nav ul li {
          display: block;
          margin: 0 auto;
          font-size: 20px;
          text-align: center;
          text-transform: uppercase;
          width: 100%; }
          .navbar-sticky .rwd-nav ul li a {
            border-radius: 60px;
            color: #fff;
            margin: 10px auto;
            padding: 20px 0;
            text-shadow: 0 1px 1px rgba(118, 68, 13, 0.6);
            width: 90%; }
            .navbar-sticky .rwd-nav ul li a:hover {
              color: #fff;
              box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
              background: #c59357; }
    .navbar-sticky p {
      display: inline-block;
      margin: 0;
      font-weight: 700; }
      .navbar-sticky p.menu {
        font-size: 14px;
        width: 25%; }
      .navbar-sticky p.pull-right {
        font-size: 13px;
        margin-right: 10px; }
    .navbar-sticky .logo {
      display: none; }
    .navbar-sticky button.navbar-toggle, .navbar-sticky button.navbar-toggle:focus, .navbar-sticky button.navbar-toggle:hover {
      background-color: transparent;
      border: none;
      display: block;
      float: left; }
    .navbar-sticky button.navbar-toggle span {
      background-color: #333 !important;
      color: #484848;
      height: 3px; }
    .navbar-sticky ul {
      line-height: 32px; }
      .navbar-sticky ul li {
        display: block;
        cursor: pointer; }
        .navbar-sticky ul li a {
          color: #000;
          text-decoration: none; }

  .container {
    max-width: 300px; }

  #header {
    height: 510px;
    position: relative;
    z-index: 1001; }
    #header #upper-nav {
      display: none; }
    #header #slider .logo-section {
      text-align: center;
      margin-left: 0;
      padding-top: 115px; }
      #header #slider .logo-section img {
        width: 240px; }
      #header #slider .logo-section .buttons {
        margin-top: 40px; }
        #header #slider .logo-section .buttons a {
          display: inline-block;
          float: none !important;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 15px; }
    #header #slider .dentist {
      display: none; }

  #content > div {
    height: 510px; }
  #content img {
    max-width: 300px; }
    #content img.header-ico {
      display: none; }
    #content img.only-small-device {
      display: block; }
    #content img.main-img {
      display: none; }
  #content h3.section-header {
    margin: 30px 0 20px;
    font-size: 34px;
    text-align: center;
    width: 100%; }
  #content p {
    text-align: center;
    margin: 10px auto 0; }
  #content .short-line {
    margin: 0 auto 20px;
    text-align: center; }
  #content .right-col {
    float: none !important;
    width: 100% !important; }
  #content .right-side-line, #content .left-side-line {
    display: none !important; }
  #content #about-me {
    height: 100%;
    margin-top: 0;
    padding-top: 35px; }
    #content #about-me .container .right-col {
      padding: 180px 0 0 !important; }
    #content #about-me .container .about-me-img {
      margin: 0 auto; }
      #content #about-me .container .about-me-img img {
        position: relative !important;
        left: auto;
        top: auto; }
    #content #about-me .container .left-col {
      background: transparent;
      height: auto;
      padding: 0 13%;
      margin-bottom: 20px;
      width: 100%; }
      #content #about-me .container .left-col .img-container:after {
        bottom: 16px;
        left: 25%;
        width: 30%; }
      #content #about-me .container .left-col a.elipse-button {
        font-size: 11px;
        font-weight: 600;
        height: 85px;
        left: 50%;
        padding-top: 26px;
        top: 61px;
        width: 85px; }
  #content #cabinet {
    height: auto;
    padding-top: 20px; }
    #content #cabinet .container {
      margin: 0 auto; }
    #content #cabinet .right-col {
      display: none; }
    #content #cabinet .left-col {
      text-align: center;
      width: 100% !important; }
      #content #cabinet .left-col ul {
        padding: 40px 0 0; }
        #content #cabinet .left-col ul li {
          width: 49%; }
          #content #cabinet .left-col ul li img {
            width: 100%; }
          #content #cabinet .left-col ul li.first-one {
            margin-top: 30px; }
          #content #cabinet .left-col ul li.second-one {
            margin-top: 0;
            margin-top: 0; }
            #content #cabinet .left-col ul li.second-one a.gallery-trigger {
              font-size: 11px;
              line-height: normal;
              padding: 25px 10% 0;
              height: 75px;
              width: 75px; }
      #content #cabinet .left-col p {
        width: 100%; }
    #content #cabinet .gallery-listing #adv-custom-pager {
      display: none; }
    #content #cabinet .gallery-listing .elipse-btn-with-arrow {
      margin: 0 auto; }
    #content #cabinet .gallery-listing .container ul {
      margin: 40px 0; }
      #content #cabinet .gallery-listing .container ul li {
        left: 0 !important; }
        #content #cabinet .gallery-listing .container ul li img.main-image {
          max-height: 240px; }
      #content #cabinet .gallery-listing .container ul.slideshow-pager {
        display: none; }
    #content #cabinet .gallery-listing .controls {
      display: block !important; }
      #content #cabinet .gallery-listing .controls ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        text-align: center; }
        #content #cabinet .gallery-listing .controls ul li {
          display: inline-block; }
    #content #cabinet .gallery-listing .controls-pager {
      display: none; }
  #content #offer {
    height: auto;
    padding-top: 50px; }
    #content #offer .ajax-loader {
      height: 575px; }
      #content #offer .ajax-loader p {
        bottom: 40%; }
    #content #offer .left-col {
      display: none !important; }
    #content #offer .container {
      margin: 0 auto;
      padding: 0; }
      #content #offer .container .right-col {
        background: none;
        height: auto;
        padding: 0; }
        #content #offer .container .right-col p {
          width: 100% !important; }
        #content #offer .container .right-col .boxes {
          margin: 20px auto 0;
          width: 100%; }
          #content #offer .container .right-col .boxes ul li {
            margin-bottom: 22px; }
            #content #offer .container .right-col .boxes ul li img {
              max-width: 150px; }
            #content #offer .container .right-col .boxes ul li .offer-name {
              padding: 10px; }
              #content #offer .container .right-col .boxes ul li .offer-name h3 {
                font-size: 12px;
                font-weight: 600;
                margin-top: 20px;
                width: 100%; }
            #content #offer .container .right-col .boxes ul li a.elipse-btn-with-arrow {
              bottom: 0;
              height: 40px;
              line-height: 40px;
              left: 86%;
              margin: auto;
              top: 0;
              width: 40px; }
            #content #offer .container .right-col .boxes ul li .pull-right {
              padding-left: 30px !important; }
              #content #offer .container .right-col .boxes ul li .pull-right h3 {
                margin: 0 !important;
                padding: 20px 0; }
            #content #offer .container .right-col .boxes ul li .offer-name {
              padding-top: 25px;
              font-size: 11px; }
    #content #offer .subpage-content {
      height: auto;
      padding: 0;
      width: 100%; }
      #content #offer .subpage-content .content {
        column-count: 1 !important;
        padding: 0 15px; }
      #content #offer .subpage-content .container {
        height: auto;
        max-width: 500px; }
        #content #offer .subpage-content .container .nano-content {
          position: relative; }
        #content #offer .subpage-content .container a.elipse-btn-with-arrow {
          margin: 0 auto; }
        #content #offer .subpage-content .container h2 {
          font-size: 30px;
          text-align: center; }
        #content #offer .subpage-content .container p {
          font-size: 15px;
          text-align: left;
          width: 100%; }
        #content #offer .subpage-content .container .offer-gallery .controls-pager, #content #offer .subpage-content .container .offer-gallery .slideshow-pager {
          display: none; }
        #content #offer .subpage-content .container .offer-gallery img {
          max-width: 100%; }
        #content #offer .subpage-content .container .offer-gallery .controls {
          display: block !important; }
          #content #offer .subpage-content .container .offer-gallery .controls ul {
            max-width: 155px;
            margin: 0 auto; }
            #content #offer .subpage-content .container .offer-gallery .controls ul li {
              display: inline-block;
              margin: 0;
              width: 45%; }
  #content #news {
    height: auto;
    padding: 45px 0; }
    #content #news .large-device {
      display: none; }
    #content #news .small-device {
      display: block; }
    #content #news .container {
      margin: 0 auto; }
      #content #news .container .short-line {
        margin: 0 auto 10px; }
      #content #news .container ul {
        padding-top: 0; }
        #content #news .container ul li {
          margin: 0;
          width: 100%; }
          #content #news .container ul li:nth-child(3) {
            display: none; }
          #content #news .container ul li img, #content #news .container ul li p {
            float: left; }
          #content #news .container ul li img {
            max-width: 150px; }
          #content #news .container ul li .image-container {
            margin: 0 0 25px;
            width: 49%; }
            #content #news .container ul li .image-container:after {
              display: none; }
          #content #news .container ul li p {
            font-size: 13px !important;
            margin: 0 0 5px !important;
            padding: 0 0 0 20px;
            width: 45%; }
            #content #news .container ul li p.news-excerpt {
              min-height: 130px; }
          #content #news .container ul li .line-n-arrow {
            display: none; }
    #content #news #one-news-container .column-content {
      column-count: 1 !important;
      column-gap: 0 !important; }
    #content #news #one-news-container .nano .nano-content {
      position: relative; }
    #content #news #one-news-container .container {
      min-height: 370px;
      max-width: 500px; }
      #content #news #one-news-container .container .content ul li:before {
        margin-left: -11px; }
      #content #news #one-news-container .container a.elipse-btn-with-arrow {
        margin: 0 auto; }
      #content #news #one-news-container .container h2 {
        text-align: center; }
      #content #news #one-news-container .container ul {
        margin: 0;
        padding-left: 20px; }
      #content #news #one-news-container .container .short-line {
        margin: 0 auto 35px !important; }
      #content #news #one-news-container .container .date {
        text-align: center; }
      #content #news #one-news-container .container p {
        text-align: left; }
      #content #news #one-news-container .container .news-gallery .controls-pager, #content #news #one-news-container .container .news-gallery .slideshow-pager {
        display: none; }
      #content #news #one-news-container .container .news-gallery img {
        max-width: 100%; }
      #content #news #one-news-container .container .news-gallery .controls {
        display: block !important; }
        #content #news #one-news-container .container .news-gallery .controls ul {
          max-width: 155px;
          margin: 0 auto; }
          #content #news #one-news-container .container .news-gallery .controls ul li {
            display: inline-block;
            margin: 0;
            width: auto; }

  #map-section {
    height: 510px;
    margin-top: 30px; }
    #map-section .shadow {
      display: none; }
    #map-section .contact-info {
      height: 180px;
      width: 100%; }
    #map-section .container {
      height: auto;
      margin: 0 auto; }
      #map-section .container .contact-info-text {
        margin: auto;
        left: 0;
        right: 0;
        text-align: center; }
        #map-section .container .contact-info-text h3 {
          font-size: 30px;
          text-align: center; }
        #map-section .container .contact-info-text .short-line {
          margin: 20px auto; }
        #map-section .container .contact-info-text p {
          font-size: 20px; } }

/*# sourceMappingURL=300.css.map */
