/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-26, 14:51:40
    Author     : Tomasz Jacek
*/
@media screen and (min-width: 640px) and (max-width: 939px) {
  body {
    width: 100%;
    overflow-x: hidden;
    position: relative; }

  a#certificate-trigger {
    bottom: 5px;
    height: 100px;
    font-size: 11px;
    right: 255px;
    width: 100px; }

  .container {
    width: 640px !important; }

  .navbar {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #fce7d1;
    left: 0;
    display: block;
    line-height: 80px;
    position: absolute;
    top: 0;
    z-index: 1009;
    width: 100%; }
    .navbar .navbar-header {
      margin: 0 -15px !important;
      width: 100%; }
      .navbar .navbar-header button.navbar-toggle {
        margin: 21px 5px 0 0; }
        .navbar .navbar-header button.navbar-toggle span.icon-bar {
          margin-bottom: 7px;
          width: 30px; }
    .navbar .rwd-nav {
      background: #ddac71;
      position: absolute;
      top: 0;
      left: 0;
      height: 853px;
      padding-top: 285px;
      display: none;
      width: 100%;
      z-index: 1009; }
      .navbar .rwd-nav .close-nav {
        color: #fff;
        position: absolute;
        z-index: 1008;
        top: 0;
        left: 5px; }
        .navbar .rwd-nav .close-nav a {
          color: #fff; }
        .navbar .rwd-nav .close-nav span {
          font-size: 13px;
          font-weight: 700;
          margin-left: 50px; }
      .navbar .rwd-nav ul {
        width: 100%;
        margin: 0;
        padding: 0; }
        .navbar .rwd-nav ul li {
          display: block;
          margin: 0 auto;
          font-size: 25px;
          text-align: center;
          text-transform: uppercase;
          width: 100%; }
          .navbar .rwd-nav ul li a {
            border-radius: 60px;
            color: #fff;
            margin: 10px auto;
            padding: 20px 0;
            text-shadow: 0 1px 1px rgba(118, 68, 13, 0.6);
            width: 90%; }
            .navbar .rwd-nav ul li a:hover {
              color: #fff;
              box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
              background: #c59357; }
    .navbar p {
      display: inline-block;
      margin: 0;
      font-weight: 700; }
      .navbar p.menu {
        font-size: 13px;
        width: 25%; }
      .navbar p.pull-right {
        font-size: 13px;
        margin-right: 10px; }
      .navbar p#phone {
        line-height: normal;
        padding-top: 30px; }
    .navbar .logo {
      display: none; }
    .navbar .navbar-header {
      width: 100%; }
    .navbar button.navbar-toggle, .navbar button.navbar-toggle:hover, .navbar button.navbar-toggle:focus {
      background: transparent;
      border: none;
      display: block;
      float: left; }
    .navbar button.navbar-toggle span {
      background-color: #333 !important;
      height: 3px;
      color: #484848; }

  .navbar-sticky {
    background: #f7ece0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #fce7d1;
    display: none;
    left: 0;
    display: block;
    line-height: 55px;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 1009;
    width: 100%; }
    .navbar-sticky .container-fluid {
      padding: 0; }
    .navbar-sticky .navbar-collapse {
      border: none; }
      .navbar-sticky .navbar-collapse.collapse {
        display: none !important; }
      .navbar-sticky .navbar-collapse.in {
        display: block !important; }
      .navbar-sticky .navbar-collapse ul {
        background: url("../images/header-bg.jpg") no-repeat center center;
        margin: 0;
        padding: 0 30px;
        width: 100%; }
        .navbar-sticky .navbar-collapse ul li {
          display: block;
          float: none !important; }
    .navbar-sticky .navbar-header {
      width: 100%; }
      .navbar-sticky .navbar-header button.navbar-toggle {
        margin: 7px 5px 0 13px; }
        .navbar-sticky .navbar-header button.navbar-toggle span.icon-bar {
          margin-bottom: 7px;
          width: 30px; }
    .navbar-sticky .rwd-nav {
      background: #ddac71;
      position: absolute;
      top: 0;
      left: 0;
      height: 710px;
      padding-top: 160px;
      display: none;
      width: 100%;
      z-index: 1009; }
      .navbar-sticky .rwd-nav .close-nav {
        color: #fff;
        position: absolute;
        z-index: 1008;
        top: 0;
        left: 5px; }
        .navbar-sticky .rwd-nav .close-nav a {
          color: #fff; }
        .navbar-sticky .rwd-nav .close-nav span {
          font-weight: 700;
          margin-left: 50px; }
      .navbar-sticky .rwd-nav ul {
        width: 100%;
        margin: 0;
        padding: 0; }
        .navbar-sticky .rwd-nav ul li {
          display: block;
          margin: 0 auto;
          font-size: 25px;
          text-align: center;
          text-transform: uppercase;
          width: 100%; }
          .navbar-sticky .rwd-nav ul li a {
            border-radius: 60px;
            color: #fff;
            margin: 10px auto;
            padding: 20px 0;
            text-shadow: 0 1px 1px rgba(118, 68, 13, 0.6);
            width: 40%; }
            .navbar-sticky .rwd-nav ul li a:hover {
              color: #fff;
              box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
              background: #c59357; }
    .navbar-sticky p {
      display: inline-block;
      margin: 0;
      font-weight: 700; }
      .navbar-sticky p.menu {
        font-size: 14px;
        width: 25%; }
      .navbar-sticky p.pull-right {
        font-size: 13px;
        margin-right: 10px; }
    .navbar-sticky .logo {
      display: none; }
    .navbar-sticky button.navbar-toggle, .navbar-sticky button.navbar-toggle:focus, .navbar-sticky button.navbar-toggle:hover {
      background-color: transparent;
      border: none;
      display: block;
      float: left; }
    .navbar-sticky button.navbar-toggle span {
      background-color: #333 !important;
      color: #484848;
      height: 3px; }
    .navbar-sticky ul {
      line-height: 32px; }
      .navbar-sticky ul li {
        display: block;
        cursor: pointer; }
        .navbar-sticky ul li a {
          color: #000;
          text-decoration: none; }

  .right-side-line, .left-side-line {
    display: none !important; }

  #header {
    height: 853px;
    position: relative;
    z-index: 1001; }
    #header #slider {
      padding-top: 135px; }
      #header #slider .dentist {
        display: none; }
      #header #slider .logo-section {
        text-align: center;
        margin-left: 0;
        padding-top: 115px; }
        #header #slider .logo-section img {
          width: 356px; }
        #header #slider .logo-section .buttons {
          margin-top: 40px; }
          #header #slider .logo-section .buttons a {
            display: inline-block;
            float: none !important;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 15px; }

  #upper-nav, .sticky-nav {
    display: none; }

  #content {
    text-align: center; }
    #content .container {
      margin: 0 auto; }
      #content .container .short-line {
        margin: 0 auto 20px; }
    #content .left-col {
      width: 100% !important;
      float: none !important; }
    #content .right-col {
      padding-left: 0 !important; }
    #content #about-me {
      border-bottom: 2px solid #9a7b55;
      height: auto;
      padding: 50px 0 15px; }
      #content #about-me .container .left-col, #content #about-me .container .right-col {
        float: none !important;
        width: 100% !important; }
      #content #about-me .container .left-col {
        background: transparent;
        height: auto;
        order: 2;
        text-align: center; }
        #content #about-me .container .left-col .img-container:after {
          bottom: 28%;
          left: 33%;
          width: 29%; }
        #content #about-me .container .left-col img.main-img {
          display: none; }
        #content #about-me .container .left-col img.only-medium-device {
          display: block;
          position: relative !important;
          margin: 0 auto;
          left: auto;
          top: auto; }
        #content #about-me .container .left-col a.elipse-button {
          bottom: 65px;
          height: 105px;
          padding-top: 35px;
          font-size: 12px;
          font-weight: 600;
          right: 170px;
          width: 105px; }
      #content #about-me .container .right-col {
        order: 1;
        padding-top: 0; }
      #content #about-me .container .about-me-text {
        float: none !important;
        margin: 0 auto;
        width: 80% !important; }
      #content #about-me .flexbox-container {
        display: flex;
        flex-flow: wrap row; }
    #content #cabinet {
      border-bottom: 2px solid #9a7b55;
      height: 780px;
      padding-top: 50px; }
      #content #cabinet .container .small-visible {
        display: block;
        margin: 0 auto;
        width: 70% !important; }
      #content #cabinet .container .right-col img {
        bottom: 0;
        max-height: 580px;
        right: -215px;
        top: auto;
        z-index: 1001; }
      #content #cabinet .container .left-col {
        width: 50% !important; }
        #content #cabinet .container .left-col h3, #content #cabinet .container .left-col p, #content #cabinet .container .left-col img.header-ico, #content #cabinet .container .left-col .short-line {
          display: none; }
        #content #cabinet .container .left-col ul {
          position: absolute;
          width: 58%;
          z-index: 1002; }
          #content #cabinet .container .left-col ul li {
            width: 49%; }
            #content #cabinet .container .left-col ul li img {
              display: block;
              max-width: 100%; }
            #content #cabinet .container .left-col ul li.second-one {
              margin-top: 30px; }
            #content #cabinet .container .left-col ul li a.gallery-trigger {
              bottom: 0;
              font-size: 12px;
              left: 0;
              top: 0;
              margin: auto;
              right: 0;
              padding: 35px 10% 0;
              height: 100px;
              width: 100px; }
        #content #cabinet .container .left-col p {
          margin: 26px auto 0; }
      #content #cabinet .gallery-listing #adv-custom-pager {
        display: none; }
      #content #cabinet .gallery-listing .elipse-btn-with-arrow {
        margin: 0 auto; }
      #content #cabinet .gallery-listing .container ul {
        margin: 40px 0; }
        #content #cabinet .gallery-listing .container ul li {
          left: 0 !important; }
          #content #cabinet .gallery-listing .container ul li img {
            width: 100% !important; }
        #content #cabinet .gallery-listing .container ul.slideshow-pager {
          display: none; }
      #content #cabinet .gallery-listing .controls {
        display: block !important;
        margin-bottom: 30px; }
        #content #cabinet .gallery-listing .controls ul {
          list-style: none;
          margin: 0 auto;
          padding: 0;
          text-align: center; }
          #content #cabinet .gallery-listing .controls ul li {
            display: inline-block; }
      #content #cabinet .gallery-listing .controls-pager {
        display: none; }
    #content #offer {
      padding: 80px 0 100px;
      border-bottom: 2px solid #9a7b55; }
      #content #offer .left-col {
        display: none; }
      #content #offer .right-col {
        background: none;
        padding: 0 8% !important;
        width: 100%;
        margin: 0 auto;
        float: none; }
        #content #offer .right-col .boxes {
          margin-top: 70px; }
          #content #offer .right-col .boxes .pull-right {
            padding-left: 25px !important; }
            #content #offer .right-col .boxes .pull-right h3 {
              text-align: left;
              padding: 62px 0 62px 20px !important;
              width: 68% !important; }
        #content #offer .right-col a.elipse-btn-with-arrow {
          right: -4px !important;
          top: calc(50% - 15px); }
      #content #offer .subpage-content {
        height: auto;
        position: relative; }
        #content #offer .subpage-content .container {
          height: auto; }
          #content #offer .subpage-content .container .nano-content {
            position: relative; }
          #content #offer .subpage-content .container .content {
            column-count: 1 !important;
            margin: 0 auto;
            text-align: justify; }
          #content #offer .subpage-content .container .offer-gallery .controls-pager, #content #offer .subpage-content .container .offer-gallery .slideshow-pager {
            display: none; }
          #content #offer .subpage-content .container .offer-gallery .controls {
            display: block !important; }
            #content #offer .subpage-content .container .offer-gallery .controls ul {
              max-width: 155px;
              margin: 0 auto; }
              #content #offer .subpage-content .container .offer-gallery .controls ul li {
                display: inline-block;
                margin: 0;
                width: auto; }
    #content #news {
      border-bottom: 2px solid #9a7b55;
      height: auto;
      padding: 75px 0 140px; }
      #content #news .large-device {
        display: none; }
      #content #news .small-device {
        display: block; }
      #content #news .container ul {
        padding: 0 15px; }
        #content #news .container ul li {
          width: 42%; }
          #content #news .container ul li:nth-child(3) {
            display: none; }
          #content #news .container ul li .line-n-arrow .line {
            width: 60%; }
          #content #news .container ul li .line-n-arrow a.elipse-btn-with-arrow {
            line-height: 40px;
            height: 40px;
            width: 40px;
            margin: -5px 20px 0 0; }
          #content #news .container ul li img.news-thumbnail {
            display: block;
            width: 100%; }
      #content #news #one-news-container .container {
        height: auto;
        min-height: 370px; }
        #content #news #one-news-container .container .content {
          text-align: justify; }
          #content #news #one-news-container .container .content ul {
            margin-left: 4px;
            padding: 0; }
            #content #news #one-news-container .container .content ul li:before {
              margin-left: -11px; }
            #content #news #one-news-container .container .content ul li img {
              margin: 0 auto; }
        #content #news #one-news-container .container .news-gallery .controls-pager, #content #news #one-news-container .container .news-gallery .slideshow-pager {
          display: none; }
        #content #news #one-news-container .container .news-gallery .controls {
          display: block !important; }
          #content #news #one-news-container .container .news-gallery .controls ul {
            max-width: 155px;
            margin: 0 auto; }
            #content #news #one-news-container .container .news-gallery .controls ul li {
              display: inline-block;
              margin: 0;
              width: auto; }
      #content #news #one-news-container .column-content {
        column-count: 1 !important;
        column-gap: 0 !important; }
      #content #news #one-news-container .nano .nano-content {
        position: relative; }

  #map-section {
    height: 820px;
    margin-top: 30px; }
    #map-section .shadow {
      top: 220px;
      left: 5%;
      width: 100%; }
    #map-section .contact-info {
      text-align: center;
      height: 205px;
      width: 100%; }
    #map-section .container {
      height: auto; }
      #map-section .container .contact-info-text {
        left: 0;
        text-align: center;
        width: 100%; }
        #map-section .container .contact-info-text h3 {
          text-align: center; }
        #map-section .container .contact-info-text .short-line {
          margin: 25px auto; }
        #map-section .container .contact-info-text .large-device {
          display: none; }
        #map-section .container .contact-info-text .small-device {
          display: inline; }
      #map-section .container p {
        display: inline-block;
        width: 49%; }
        #map-section .container p span {
          font-size: 22px !important; } }

/*# sourceMappingURL=600.css.map */
