/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-26, 14:51:40
    Author     : Tomasz Jacek
*/

@media screen and (min-width: 640px) and (max-width: 939px) {
	$border: 2px solid #9a7b55;
	body {
		width: 100%;
		overflow-x: hidden;
		position: relative;
	}
    a {
        &#certificate-trigger {
            $value: 100px;
            bottom: 5px;
            height: $value;
            font: {
                size: 11px;
            }
            right: 255px;
            width: $value;
        }
    }
	.container {
		width: 640px !important;
	}
	.navbar {
		background: transparent;
		box-shadow: none;
		border-bottom: 2px solid #fce7d1;
		left: 0;
		display: block;
		line-height: 80px;
		position: absolute;
		top: 0;
		z-index: 1009;
		width: 100%;
		.navbar-header {
			margin: 0 -15px !important;
			width: 100%;
			button.navbar-toggle {
				margin: 21px 5px 0 0;
				span {
					&.icon-bar {
						margin-bottom: 7px;
						width: 30px;
					}
				}
			}
		}
		.rwd-nav {
			background: #ddac71;
			position: absolute;
			top: 0;
			left: 0;
			height: 853px;
			padding-top: 285px;
			display: none;
			width: 100%;
			z-index: 1009;
			.close-nav {
				color: #fff;
				position: absolute;
				z-index: 1008;
				top: 0;
				left: 5px;
				a {
					color: #fff;
				}
				span {
					font-size: 13px;
					font-weight: 700;
					margin-left: 50px;
				}
			}
			ul {
				width: 100%;
				margin: 0;
				padding: 0;
				li {
					display: block;
					margin: 0 auto;
					font: {
						size: 25px;
					}
					text-align: center;
					text-transform: uppercase;
					width: 100%;
					a {
						border-radius: 60px;
						color: #fff;
						margin: 10px auto;
						padding: 20px 0;
						text-shadow: 0 1px 1px rgba(#76440d, .6);
						width: 90%;
						&:hover {
							color: #fff;
							box-shadow: inset 0 2px 5px rgba(#000, .5);
							background: #c59357;
						}
					}
				}
			}
		}
		p {
			display: inline-block;
			margin: 0;
			font-weight: 700;
			&.menu {
				font: {
					size: 13px;
				}
				width: 25%;
			}
			&.pull-right {
				font: {
					size: 13px;
				}
				margin-right: 10px;
			}
            &#phone {
                line-height: normal;
                padding-top: 30px;
            }
		}
		.logo {
			display: none;
		}
		.navbar-header {
			width: 100%;
		}
		button.navbar-toggle, button.navbar-toggle:hover, button.navbar-toggle:focus {
			background: transparent;
			border: none;
			display: block;
			float: left;
		}
		button.navbar-toggle {
			span {
				background-color: #333 !important;
				height: 3px;
				color: #484848;
			}
		}
	}
	.navbar-sticky {
		background: #f7ece0;
		box-shadow: 0 2px 5px rgba(#000, .2);
		border-bottom: 2px solid #fce7d1;
		display: none;
		left: 0;
		display: block;
		line-height: 55px;
		height: 55px;
		position: fixed;
		top: 0;
		z-index: 1009;
		width: 100%;	
		.container-fluid {
			padding: 0;
		}
		.navbar-collapse {
			border: none;
			&.collapse {
				display: none !important;
			}
			&.in {
				display: block !important;
			}
			ul {
				background: url("../images/header-bg.jpg") no-repeat center center;
				margin: 0;
				padding: 0 30px;
				width: 100%;
				li {
					display: block;
					float: none !important;
				}
			}
		}
		.navbar-header {
			width: 100%;
			button.navbar-toggle {
				margin: 7px 5px 0 13px;
				span {
					&.icon-bar {
						margin-bottom: 7px;
						width: 30px;
					}
				}
			}
		}
		.rwd-nav {
			background: #ddac71;
			position: absolute;
			top: 0;
			left: 0;
			height: 710px;
			padding-top: 160px;
			display: none;
			width: 100%;
			z-index: 1009;
			.close-nav {
				color: #fff;
				position: absolute;
				z-index: 1008;
				top: 0;
				left: 5px;
				a {
					color: #fff;
				}
				span {
					font-weight: 700;
					margin-left: 50px;
				}
			}
			ul {
				width: 100%;
				margin: 0;
				padding: 0;
				li {
					display: block;
					margin: 0 auto;
					font: {
						size: 25px;
					}
					text-align: center;
					text-transform: uppercase;
					width: 100%;
					a {
						border-radius: 60px;
						color: #fff;
						margin: 10px auto;
						padding: 20px 0;
						text-shadow: 0 1px 1px rgba(#76440d, .6);
						width: 40%;
						&:hover {
							color: #fff;
							box-shadow: inset 0 2px 5px rgba(#000, .5);
							background: #c59357;
						}
					}
				}
			}
		}
		p {
			display: inline-block;
			margin: 0;
			font-weight: 700;
			&.menu {
				font: {
					size: 14px;
				}
				width: 25%;
			}
			&.pull-right {
				font: {
					size: 13px;
				}
				margin-right: 10px;
			}
		}
		.logo {
			display: none;
		}
		button.navbar-toggle, button.navbar-toggle:focus, button.navbar-toggle:hover {
			background-color: transparent;
			border: none;
			display: block;
			float: left;
		}
		button.navbar-toggle {
			span {
				background-color: #333 !important;
				color: #484848;
				height: 3px;
			}
		}
		ul {
			line-height: 32px;
			li {
				display: block;
				cursor: pointer;
				a {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	.right-side-line, .left-side-line {
		display: none !important;
	}
	
	#header {
		height: 853px;
		position: relative;
		z-index: 1001;
		#slider {
			padding-top: 135px;
			.dentist {
				display: none;
			}
			.logo-section {
				text-align: center;
				margin-left: 0;
				padding-top: 115px;
				img {
					width: 356px;
				}
				.buttons {
					margin-top: 40px;
					a {
						display: inline-block;
						float: none !important;
						margin-left: 0;
						margin-right: 0;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	#upper-nav, .sticky-nav {
		display: none;
	}
	#content {
		.container {
			margin: 0 auto;
			.short-line {
				margin: 0 auto 20px;
			}
		}
		text-align: center;
		.left-col {
    			width: 100% !important;
			float: none !important;
		}
		.right-col {
			padding-left: 0 !important;
		}
		#about-me {
			border-bottom: $border;
			height: auto;
			padding: 50px 0 15px;
			.container {
				.left-col, .right-col {
					float: none !important;
					width: 100% !important;
				}
				.left-col {
					background: transparent;
					height: auto;
					order: 2;
					text-align: center;
					.img-container {
						&:after {
							bottom: 28%;
							left: 33%;
							width: 29%;
						}
					}
					img {
						&.main-img {
							display: none;
						}
						&.only-medium-device {
							display: block;
							position: relative !important;
							margin: 0 auto;
							left: auto;
							top: auto;
						}
					}
					a {
						&.elipse-button {
							$value: 105px;
							bottom: 65px;
							height: $value;
							padding-top: 35px;
							font: {
								size: 12px;
								weight: 600;
							}
							right: 170px;
							width: $value;
						}
					}
				}
				.right-col {
					order: 1;
					padding-top: 0;
				}
				.about-me-text {
					float: none !important;
					margin: 0 auto;
					width: 80% !important;
				}
			}
			.flexbox-container {
				display: flex;
				flex-flow: wrap row;
			}
		}
		#cabinet {
			border-bottom: $border;
			height: 780px;
			padding-top: 50px;
			.container {
				.small-visible {
					display: block;
					margin: 0 auto;
					width: 70% !important;
				}
				.right-col {
					img {
						bottom: 0;
						max-height: 580px;
						right: -215px;
						top: auto;
						z-index: 1001;
					}
				}
				.left-col {
					width: 50% !important;
					h3, p, img.header-ico, .short-line {
						display: none;
					}
					ul {
						position: absolute;
						width: 58%;
						z-index: 1002;
						li {
							width: 49%;
							img {
								display: block;
								max-width: 100%;
							}
							&.second-one {
								margin-top: 30px;
							}
							a {
								&.gallery-trigger {
									$value: 100px;
                                    bottom: 0;
									font: {
										size: 12px;
									}
                                    left: 0;
                                    top: 0;
                                    margin: auto;
                                    right: 0;
                                    padding: 35px 10% 0;
									height: $value;
									width: $value;
								}
							}
						}
					}
					p {
						margin: 26px auto 0;
					}
				}
			}
			.gallery-listing {
				#adv-custom-pager {
					display: none;
				}
				.elipse-btn-with-arrow {
					margin: 0 auto;
				}
				.container {
					ul {
						margin: 40px 0;
						li {
							left: 0 !important;
							img {
								width: 100% !important;
							}
						}
						&.slideshow-pager {
							display: none;
						}
					}
				}
				.controls {
					display: block !important;
					margin-bottom: 30px;
					ul {
						list-style: none;
						margin: 0 auto;
						padding: 0;
						text-align: center;
						li {
							display: inline-block;
						}
					}
				}
				.controls-pager {
					display: none;
				}
			}
		}
		#offer {
			padding: 80px 0 100px;
			border-bottom: 2px solid #9a7b55;
			.left-col {
				display: none;
			}
			.right-col {
				background: none;
				padding: 0 8% !important;
				width: 100%;
				margin: 0 auto;
				float: none;
				.boxes {
					margin-top: 70px;
					.pull-right {
						padding-left: 25px !important;
						h3 {
							text-align: left;
							padding: 62px 0 62px 20px !important;
							width: 68% !important;
						}
					}
				}
				a {
					&.elipse-btn-with-arrow {
						right: -4px !important;
						top: calc(50% - 15px);
					}
				}
			}
			.subpage-content {
				height: auto;
				position: relative;
				.container {
					height: auto;
					.nano-content {
						position: relative;
					}
					.content {
						column-count: 1 !important;
						margin: 0 auto;
						text-align: justify;
					}
                    .offer-gallery {
                        .controls-pager, .slideshow-pager {
                            display: none;
                        }
                        .controls {
                            display: block !important;
                            ul {
                                max-width: 155px;
                                margin: 0 auto;
                                li {
                                    display: inline-block;
                                    margin: 0;
                                    width: auto;
                                }
                            }
                        }
                    }
				}
			}
		}
		#news {
			border-bottom: 2px solid #9a7b55;
			height: auto;
			padding: 75px 0 140px;
			.large-device {
				display: none;
			}
			.small-device {
				display: block;
			}
			.container {
				ul {
					padding: 0 15px;
					li {
						width: 42%;
						&:nth-child(3) {
							display: none;
						}
						.line-n-arrow {
							.line {
								width: 60%;
							}
							a {
								&.elipse-btn-with-arrow {
									$value: 40px;
									line-height: $value;;
									height: $value;
									width: $value;
									margin: -5px 20px 0 0;
								}
							}
						}
						img {
							&.news-thumbnail {
								display: block;
								width: 100%;
							}
						}
					}
				}
			}
			#one-news-container {
				.container {
					height: auto;
                    min-height: 370px;
                    .content {
                        text-align: justify;
                        ul {
                            margin-left: 4px;
                            padding: 0;
                            li {
                                &:before {
                                    margin-left: -11px;
                                }
                                img {
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                    .news-gallery {
                        .controls-pager, .slideshow-pager {
                            display: none;
                        }
                        .controls {
                            display: block !important;
                            ul {
                                max-width: 155px;
                                margin: 0 auto;
                                li {
                                    display: inline-block;
                                    margin: 0;
                                    width: auto;
                                }
                            }
                        }
                    }
				}
				.column-content {
					column-count: 1 !important;
					column-gap: 0 !important;
				}
                .nano {
                    .nano-content {
                        position: relative;
                    }
                }
			}
		}
	}
	#map-section {
		height: 820px;
		margin-top: 30px;
		.shadow {
			top: 220px;
			left: 5%;
			width: 100%;
		}
		.contact-info {
			text-align: center;
			height: 205px;
			width: 100%;
		}
		.container {
			height: auto;
			.contact-info-text {
				left: 0;
				text-align: center;
				width: 100%;
				h3 {
					text-align: center;
				}
				.short-line {
					margin: 25px auto;
				}
				.large-device {
					display: none;
				}
				.small-device {
					display: inline;
				}
			}
			p {
				display: inline-block;
				width: 49%;
				span {
					font: {
						size: 22px !important;
					}
				}
			}
		}
	}
}

