/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-25, 15:55:38
    Author     : Tomasz Jacek
*/
@media screen and (min-width: 940px) and (max-width: 1239px) {
  body {
    position: relative;
    z-index: 1001;
    overflow-x: hidden;
    width: 100%; }

  a#certificate-trigger {
    bottom: 200px;
    height: 100px;
    font-size: 11px;
    right: 85px;
    width: 100px; }

  .navbar {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #fce7d1;
    left: 0;
    display: block;
    line-height: 80px;
    position: absolute;
    top: 0;
    z-index: 1009;
    width: 100%; }
    .navbar .container-fluid {
      padding: 0; }
    .navbar .navbar-collapse {
      border: none; }
      .navbar .navbar-collapse.collapse {
        display: none !important; }
      .navbar .navbar-collapse.in {
        display: block !important; }
      .navbar .navbar-collapse ul {
        background: url("../images/header-bg.jpg") no-repeat center center;
        margin: 0;
        padding: 0 30px;
        width: 100%; }
        .navbar .navbar-collapse ul li {
          display: block;
          float: none !important; }
    .navbar .navbar-header {
      width: 100%; }
      .navbar .navbar-header button.navbar-toggle {
        margin: 21px 5px 0 0; }
        .navbar .navbar-header button.navbar-toggle span.icon-bar {
          margin-bottom: 7px;
          width: 30px; }
    .navbar .rwd-nav {
      background: #ddac71;
      position: absolute;
      top: 0;
      left: 0;
      height: 710px;
      padding-top: 160px;
      display: none;
      width: 100%;
      z-index: 1009; }
      .navbar .rwd-nav .close-nav {
        color: #fff;
        position: absolute;
        z-index: 1008;
        top: 0;
        left: 5px; }
        .navbar .rwd-nav .close-nav a {
          color: #fff; }
        .navbar .rwd-nav .close-nav span {
          font-weight: 700;
          margin-left: 50px; }
      .navbar .rwd-nav ul {
        width: 100%;
        margin: 0;
        padding: 0; }
        .navbar .rwd-nav ul li {
          display: block;
          margin: 0 auto;
          font-size: 25px;
          text-align: center;
          text-transform: uppercase;
          width: 100%; }
          .navbar .rwd-nav ul li a {
            border-radius: 60px;
            color: #fff;
            margin: 10px auto;
            padding: 20px 0;
            text-shadow: 0 1px 1px rgba(118, 68, 13, 0.6);
            width: 40%; }
            .navbar .rwd-nav ul li a:hover {
              color: #fff;
              box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
              background: #c59357; }
    .navbar p {
      display: inline-block;
      margin: 0;
      font-weight: 700; }
      .navbar p.menu {
        font-size: 14px;
        width: 25%; }
      .navbar p.pull-right {
        font-size: 13px;
        margin-right: 10px; }
      .navbar p#phone {
        line-height: normal;
        padding-top: 30px; }
    .navbar .logo {
      display: none; }
    .navbar button.navbar-toggle, .navbar button.navbar-toggle:focus, .navbar button.navbar-toggle:hover {
      background-color: transparent;
      border: none;
      display: block;
      float: left; }
    .navbar button.navbar-toggle span {
      background-color: #333 !important;
      color: #484848;
      height: 3px; }
    .navbar ul {
      line-height: 32px; }
      .navbar ul li {
        display: block;
        cursor: pointer; }
        .navbar ul li a {
          color: #000;
          text-decoration: none; }

  .navbar-sticky {
    background: #f7ece0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #fce7d1;
    display: none;
    left: 0;
    display: block;
    line-height: 55px;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 1009;
    width: 100%; }
    .navbar-sticky .container-fluid {
      padding: 0; }
    .navbar-sticky .navbar-collapse {
      border: none; }
      .navbar-sticky .navbar-collapse.collapse {
        display: none !important; }
      .navbar-sticky .navbar-collapse.in {
        display: block !important; }
      .navbar-sticky .navbar-collapse ul {
        background: url("../images/header-bg.jpg") no-repeat center center;
        margin: 0;
        padding: 0 30px;
        width: 100%; }
        .navbar-sticky .navbar-collapse ul li {
          display: block;
          float: none !important; }
    .navbar-sticky .navbar-header {
      width: 100%; }
      .navbar-sticky .navbar-header button.navbar-toggle {
        margin: 7px 5px 0 0; }
        .navbar-sticky .navbar-header button.navbar-toggle span.icon-bar {
          margin-bottom: 7px;
          width: 30px; }
    .navbar-sticky .rwd-nav {
      background: #ddac71;
      position: absolute;
      top: 0;
      left: 0;
      height: 710px;
      padding-top: 160px;
      display: none;
      width: 100%;
      z-index: 1009; }
      .navbar-sticky .rwd-nav .close-nav {
        color: #fff;
        position: absolute;
        z-index: 1008;
        top: 0;
        left: 5px; }
        .navbar-sticky .rwd-nav .close-nav a {
          color: #fff; }
        .navbar-sticky .rwd-nav .close-nav span {
          font-weight: 700;
          margin-left: 50px; }
      .navbar-sticky .rwd-nav ul {
        width: 100%;
        margin: 0;
        padding: 0; }
        .navbar-sticky .rwd-nav ul li {
          display: block;
          margin: 0 auto;
          font-size: 25px;
          text-align: center;
          text-transform: uppercase;
          width: 100%; }
          .navbar-sticky .rwd-nav ul li a {
            border-radius: 60px;
            color: #fff;
            margin: 10px auto;
            padding: 20px 0;
            text-shadow: 0 1px 1px rgba(118, 68, 13, 0.6);
            width: 40%; }
            .navbar-sticky .rwd-nav ul li a:hover {
              color: #fff;
              box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
              background: #c59357; }
    .navbar-sticky p {
      display: inline-block;
      margin: 0;
      font-weight: 700; }
      .navbar-sticky p.menu {
        font-size: 14px;
        width: 25%; }
      .navbar-sticky p.pull-right {
        font-size: 13px;
        margin-right: 10px; }
    .navbar-sticky .logo {
      display: none; }
    .navbar-sticky button.navbar-toggle, .navbar-sticky button.navbar-toggle:focus, .navbar-sticky button.navbar-toggle:hover {
      background-color: transparent;
      border: none;
      display: block;
      float: left; }
    .navbar-sticky button.navbar-toggle span {
      background-color: #333 !important;
      color: #484848;
      height: 3px; }
    .navbar-sticky ul {
      line-height: 32px; }
      .navbar-sticky ul li {
        display: block;
        cursor: pointer; }
        .navbar-sticky ul li a {
          color: #000;
          text-decoration: none; }

  #upper-nav, .sticky-nav {
    display: none !important; }

  .container {
    width: 900px !important; }

  #header {
    position: relative;
    z-index: 1001;
    height: 690px; }
    #header #slider {
      height: calc(100% - 80px); }
      #header #slider .logo-section {
        padding-top: 20%;
        margin-left: 3%; }
        #header #slider .logo-section .buttons {
          margin-top: 60px; }
      #header #slider .dentist {
        right: -25px;
        bottom: -38px; }
        #header #slider .dentist img {
          max-width: 450px; }

  #content a .elipse-button {
    font-size: 14px; }
  #content #about-me {
    height: 650px; }
    #content #about-me .container .left-col {
      background-position: 22% 57%;
      background-size: 32%;
      height: 650px;
      width: 45%; }
      #content #about-me .container .left-col .img-container:after {
        bottom: 35% !important;
        width: 65% !important;
        left: 7%; }
      #content #about-me .container .left-col img {
        max-width: 340px;
        left: -5px;
        top: 30px; }
      #content #about-me .container .left-col a.elipse-button {
        bottom: 280px;
        height: 115px;
        right: 10px;
        font-size: 14px;
        font-weight: 600;
        padding-top: 37px;
        top: auto;
        width: 115px; }
    #content #about-me .container .right-col {
      padding: 30px 0 0 2%;
      width: 52%; }
      #content #about-me .container .right-col h3.section-header {
        margin-top: 20px; }
  #content #cabinet {
    height: auto; }
    #content #cabinet .container {
      margin: 0 auto; }
    #content #cabinet .left-col {
      margin-top: 0;
      width: 54%; }
      #content #cabinet .left-col img {
        left: 0;
        max-width: 100%; }
      #content #cabinet .left-col ul {
        padding: 40px 0 0; }
        #content #cabinet .left-col ul li {
          width: 37%; }
          #content #cabinet .left-col ul li img {
            width: 100%; }
          #content #cabinet .left-col ul li.second-one {
            margin-top: 40px; }
            #content #cabinet .left-col ul li.second-one a.gallery-trigger {
              left: 0;
              font-size: 13px;
              height: 100px;
              margin: auto;
              text-transform: uppercase;
              padding: 18% 10% 0;
              right: 0;
              top: 25%;
              text-align: center;
              width: 100px; }
      #content #cabinet .left-col p {
        width: 100%; }
    #content #cabinet .right-col {
      left: 45%;
      position: absolute;
      top: -23px;
      z-index: 1003; }
      #content #cabinet .right-col img {
        left: 0;
        top: 70px;
        max-height: 580px; }
    #content #cabinet .gallery-listing .container {
      margin: 0 auto; }
      #content #cabinet .gallery-listing .container ul li {
        left: 0 !important;
        right: 0;
        margin: auto; }
      #content #cabinet .gallery-listing .container ul.slideshow-pager {
        width: 70% !important; }
      #content #cabinet .gallery-listing .container ul img.main-image {
        max-width: 400px; }
  #content #offer .left-col {
    width: 48%; }
    #content #offer .left-col img {
      left: auto !important;
      right: 64%;
      max-width: 75%;
      top: 111px; }
  #content #offer .right-col {
    background: none;
    padding: 110px 0 0 0;
    width: 52%; }
    #content #offer .right-col .boxes {
      margin-top: 10px;
      padding-top: 0; }
      #content #offer .right-col .boxes ul li {
        display: inline-block;
        vertical-align: top;
        width: 48%; }
        #content #offer .right-col .boxes ul li img.main-image {
          width: 100%; }
        #content #offer .right-col .boxes ul li .line-n-arrow .line {
          margin-top: 15px; }
        #content #offer .right-col .boxes ul li div.pull-left, #content #offer .right-col .boxes ul li div.pull-right {
          float: none !important; }
        #content #offer .right-col .boxes ul li div.pull-left {
          width: 84%;
          margin: 20px 0 0; }
          #content #offer .right-col .boxes ul li div.pull-left a.elipse-btn-with-arrow {
            bottom: -185px;
            left: 0;
            height: 40px;
            line-height: 40px;
            width: 40px; }
        #content #offer .right-col .boxes ul li div.pull-right {
          width: auto; }
          #content #offer .right-col .boxes ul li div.pull-right h3 {
            padding: 5px 5px 15px 0; }
        #content #offer .right-col .boxes ul li div.offer-name h3 {
          margin: 15px 0 0 9px;
          font-size: 14px;
          font-weight: 700;
          width: 80%; }
  #content #offer .subpage-content .content {
    column-gap: 75px;
    line-height: 22px; }
    #content #offer .subpage-content .content h2.subpage-header {
      font-size: 36px; }
  #content #offer .subpage-content .nano {
    height: 650px; }
  #content #news {
    padding-top: 65px; }
    #content #news .container {
      margin: 0 auto;
      padding: 0;
      width: 100%; }
      #content #news .container ul {
        padding-top: 10px; }
        #content #news .container ul li {
          padding: 0;
          width: 25%; }
          #content #news .container ul li .image-container img {
            width: 100%; }
          #content #news .container ul li a.elipse-btn-with-arrow {
            height: 40px;
            line-height: 40px;
            margin-right: 10px !important;
            margin-top: 0 !important;
            width: 40px; }
          #content #news .container ul li .line {
            margin-top: 20px !important; }
      #content #news .container a.show-more {
        margin-top: -30px;
        line-height: 43px;
        height: 43px;
        width: 175px; }
    #content #news #one-news-container .container .content .news-gallery .gallery-offer-listing .container ul.slideshow-pager {
      width: 75% !important; }
    #content #news #one-news-container .container .content ul li:before {
      margin-left: -9px; }

  #map-section {
    margin-top: 90px;
    height: 650px; }
    #map-section .shadow {
      left: 0;
      top: 270px;
      width: 30%; }
    #map-section .contact-info {
      width: 32%; }
    #map-section .container {
      height: auto;
      width: 100% !important; }
      #map-section .container .contact-info-text {
        top: 15px;
        left: 15px; }
        #map-section .container .contact-info-text span {
          font-size: 20px !important; } }

/*# sourceMappingURL=900.css.map */
