/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-25, 15:55:38
    Author     : Tomasz Jacek
*/
@media screen and (min-width: 940px) and (max-width: 1239px) {
	body {
		position: relative;
		z-index: 1001;
		overflow-x: hidden;
		width: 100%;
	}
    a {
        &#certificate-trigger {
            $value: 100px;
            bottom: 200px;
            height: $value;
            font: {
                size: 11px;
            }
            right: 85px;
            width: $value;
        }
    }
	.navbar {
		background: transparent;
		box-shadow: none;
		border-bottom: 2px solid #fce7d1;
		left: 0;
		display: block;
		line-height: 80px;
		position: absolute;
		top: 0;
		z-index: 1009;
		width: 100%;	
		.container-fluid {
			padding: 0;
		}
		.navbar-collapse {
			border: none;
			&.collapse {
				display: none !important;
			}
			&.in {
				display: block !important;
			}
			ul {
				background: url("../images/header-bg.jpg") no-repeat center center;
				margin: 0;
				padding: 0 30px;
				width: 100%;
				li {
					display: block;
					float: none !important;
				}
			}
		}
		.navbar-header {
			width: 100%;
			button.navbar-toggle {
				margin: 21px 5px 0 0;
				span {
					&.icon-bar {
						margin-bottom: 7px;
						width: 30px;
					}
				}
			}
		}
		.rwd-nav {
			background: #ddac71;
			position: absolute;
			top: 0;
			left: 0;
			height: 710px;
			padding-top: 160px;
			display: none;
			width: 100%;
			z-index: 1009;
			.close-nav {
				color: #fff;
				position: absolute;
				z-index: 1008;
				top: 0;
				left: 5px;
				a {
					color: #fff;
				}
				span {
					font-weight: 700;
					margin-left: 50px;
				}
			}
			ul {
				width: 100%;
				margin: 0;
				padding: 0;
				li {
					display: block;
					margin: 0 auto;
					font: {
						size: 25px;
					}
					text-align: center;
					text-transform: uppercase;
					width: 100%;
					a {
						border-radius: 60px;
						color: #fff;
						margin: 10px auto;
						padding: 20px 0;
						text-shadow: 0 1px 1px rgba(#76440d, .6);
						width: 40%;
						&:hover {
							color: #fff;
							box-shadow: inset 0 2px 5px rgba(#000, .5);
							background: #c59357;
						}
					}
				}
			}
		}
		p {
			display: inline-block;
			margin: 0;
			font-weight: 700;
			&.menu {
				font: {
					size: 14px;
				}
				width: 25%;
			}
			&.pull-right {
				font: {
					size: 13px;
				}
				margin-right: 10px;
			}
            &#phone {
                line-height: normal;
                padding-top: 30px;
            }
		}
		.logo {
			display: none;
		}
		button.navbar-toggle, button.navbar-toggle:focus, button.navbar-toggle:hover {
			background-color: transparent;
			border: none;
			display: block;
			float: left;
		}
		button.navbar-toggle {
			span {
				background-color: #333 !important;
				color: #484848;
				height: 3px;
			}
		}
		ul {
			line-height: 32px;
			li {
				display: block;
				cursor: pointer;
				a {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	.navbar-sticky {
		background: #f7ece0;
		box-shadow: 0 2px 5px rgba(#000, .2);
		border-bottom: 2px solid #fce7d1;
		display: none;
		left: 0;
		display: block;
		line-height: 55px;
		height: 55px;
		position: fixed;
		top: 0;
		z-index: 1009;
		width: 100%;	
		.container-fluid {
			padding: 0;
		}
		.navbar-collapse {
			border: none;
			&.collapse {
				display: none !important;
			}
			&.in {
				display: block !important;
			}
			ul {
				background: url("../images/header-bg.jpg") no-repeat center center;
				margin: 0;
				padding: 0 30px;
				width: 100%;
				li {
					display: block;
					float: none !important;
				}
			}
		}
		.navbar-header {
			width: 100%;
			button.navbar-toggle {
				margin: 7px 5px 0 0;
				span {
					&.icon-bar {
						margin-bottom: 7px;
						width: 30px;
					}
				}
			}
		}
		.rwd-nav {
			background: #ddac71;
			position: absolute;
			top: 0;
			left: 0;
			height: 710px;
			padding-top: 160px;
			display: none;
			width: 100%;
			z-index: 1009;
			.close-nav {
				color: #fff;
				position: absolute;
				z-index: 1008;
				top: 0;
				left: 5px;
				a {
					color: #fff;
				}
				span {
					font-weight: 700;
					margin-left: 50px;
				}
			}
			ul {
				width: 100%;
				margin: 0;
				padding: 0;
				li {
					display: block;
					margin: 0 auto;
					font: {
						size: 25px;
					}
					text-align: center;
					text-transform: uppercase;
					width: 100%;
					a {
						border-radius: 60px;
						color: #fff;
						margin: 10px auto;
						padding: 20px 0;
						text-shadow: 0 1px 1px rgba(#76440d, .6);
						width: 40%;
						&:hover {
							color: #fff;
							box-shadow: inset 0 2px 5px rgba(#000, .5);
							background: #c59357;
						}
					}
				}
			}
		}
		p {
			display: inline-block;
			margin: 0;
			font-weight: 700;
			&.menu {
				font: {
					size: 14px;
				}
				width: 25%;
			}
			&.pull-right {
				font: {
					size: 13px;
				}
				margin-right: 10px;
			}
		}
		.logo {
			display: none;
		}
		button.navbar-toggle, button.navbar-toggle:focus, button.navbar-toggle:hover {
			background-color: transparent;
			border: none;
			display: block;
			float: left;
		}
		button.navbar-toggle {
			span {
				background-color: #333 !important;
				color: #484848;
				height: 3px;
			}
		}
		ul {
			line-height: 32px;
			li {
				display: block;
				cursor: pointer;
				a {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	#upper-nav, .sticky-nav {
		display: none !important;
	}
	.container {
		width: 900px !important;
	}
	#header {
		position: relative;
		z-index: 1001;
		height: 690px;
		#slider {
			height: calc(100% - 80px);
			.logo-section {
				padding-top: 20%;
				margin-left: 3%;
				.buttons {
					margin-top: 60px;
				}
			}
			.dentist {
				right: -25px;
				bottom: -38px;
				img {
					max-width: 450px;
				}
			}
		}
	}
	#content {
		a {
			.elipse-button {
				font: {
					size: 14px;
				}
			}
		}
		#about-me {
			height: 650px;
			.container {
				.left-col {
					background-position: 22% 57%;
					background-size: 32%;
					height: 650px;
					width: 45%;
					.img-container {
						&:after {
							bottom: 35% !important;
							width: 65% !important;
                            left: 7%;
						}
					}
					img {
						max-width: 340px;
						left: -5px;
						top: 30px;
					}
					a {
						&.elipse-button {
							bottom: 280px;
							height: 115px;
							right: 10px;
							font-size: 14px;
							font-weight: 600;
							padding-top: 37px;
							top: auto;
							width: 115px;
						}
					}
				}
				.right-col {
					padding: 30px 0 0 2%;
					width: 52%;
					h3 {
						&.section-header {
							margin-top: 20px;
						}
					}
				}
			}
		}
		#cabinet{
			height: auto;
			.container {
				margin: 0 auto;
			}
			.left-col {
				margin-top: 0;
				width: 54%;
				img {
					left: 0;
					max-width: 100%;
				}
				ul {
					padding: 40px 0 0;
					li {
						width: 37%;
						img {
							width: 100%;
						}
						&.second-one {
							margin-top: 40px;
							a {
								&.gallery-trigger {
									$value: 100px;
									left: 0;
									font-size: 13px;
									height: $value;
									margin: auto;
									text-transform: uppercase;
									padding: 18% 10% 0;
									right: 0;
									top: 25%;
									text-align: center;
									width: $value;
								}
							}
						}
					}
				}
				p {
					width: 100%;
				}
			}
			.right-col {
				left: 45%;
				position: absolute;
				top: -23px;
				z-index: 1003;
				img {
					left: 0;
					top: 70px;
					max-height: 580px;
				}
			}
			.gallery-listing {
				.container {
					margin: 0 auto;
					ul {
						li {
							left: 0 !important;
							right: 0;
							margin: auto;
						}
						&.slideshow-pager {
							width: 70% !important;
						}
                        img {
                            &.main-image {
                                max-width: 400px;
                            }
                        }
					}
				}
			}
		}
		#offer {
			.left-col {
				img {
					left: auto !important;
					right: 64%;
					max-width: 75%;
					top: 111px;
				}
				width: 48%;
			}
			.right-col {
				background: none;
				padding: 110px 0 0 0;	
				width: 52%;
				.boxes {
					margin-top: 10px;
					padding-top: 0;
					ul {
						li {
							display: inline-block;
							vertical-align: top;
							width: 48%;
							img {
								&.main-image {
									width: 100%;
								}
							}
							.line-n-arrow {
								.line {
									margin-top: 15px;
								}
							}
							div {
								&.pull-left, &.pull-right {
									float: none !important;
								}
								&.pull-left {
									width: 84%;
									margin: 20px 0 0;
									a {
										&.elipse-btn-with-arrow {
											$value: 40px;
											bottom: -185px;
											left: 0;
											height: $value;
											line-height: $value;
											width: $value;
										}
									}
								}
								&.pull-right {
									width: auto;
									h3 {
										padding: 5px 5px 15px 0;
									}
								}
								&.offer-name {
									h3 {
										margin: 15px 0 0 9px;
										font: {
											size: 14px;
											weight: 700;	
										}
										width: 80%;
									}
								}
							}
						}
					}
				}
			}	
            .subpage-content {
                .content {
                    h2 {
                        &.subpage-header {
                            font: {
                                size: 36px;
                            }
                        }
                    }
                    column-gap: 75px;
                    line-height: 22px;
                }
                .nano {
                    height: 650px;
                }
            }
		}
		#news {
			padding-top: 65px;
			.container {
				margin: 0 auto;
				padding: 0;
				width: 100%;
				ul {
					padding-top: 10px;
					li {
						padding: 0;	
						width: 25%;	
						.image-container {
							img {
								width: 100%;
							}
						}
						a {
							&.elipse-btn-with-arrow {
								$value: 40px;
								height: $value;
								line-height: $value;
								margin-right: 10px !important;
								margin-top: 0 !important;
								width: $value;
							}
						}
						.line {
							margin-top: 20px !important;
						}
					}
				}
				a {
					&.show-more {
						margin-top: -30px;
						line-height: 43px;
						height: 43px;
						width: 175px;
					}
				}
			}
            #one-news-container {
                .container {
                    .content {
                        .news-gallery {
                            .gallery-offer-listing {
                                .container {
                                    ul {
                                        &.slideshow-pager {
                                            width: 75% !important;
                                        }
                                    }
                                }
                            }
                        }
                        ul {
                            li {
                                &:before {
                                    margin-left: -9px;
                                }
                            }
                        }
                    }
                }
            }
		}
	}
	#map-section {
		margin-top: 90px;
		height: 650px;
		.shadow {
			left: 0;
			top: 270px;
			width: 30%;
		}
		.contact-info {
			width: 32%;
		}
		.container {
			height: auto;
			width: 100% !important;	
			.contact-info-text {
				top: 15px;
				left: 15px;
				span {
					font: {
						size: 20px !important;
					}
				}
			}
		}
	}
}

