
$color: #a59585;
$white: #fff;
$value: 47px;
$anim-value: 25px;
$anim-value-higher: 51px;
$anim-value-higher-negative: -$anim-value-higher;
$anim-value-negative: -$anim-value;
.circle{
  box-shadow: $anim-value $anim-value-negative 0 2px $white, $anim-value-negative $anim-value-negative 0 2px $white, $anim-value-negative $anim-value 0 2px $white, $anim-value $anim-value 0 2px $white, 0 0 0 2px $white;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  height: $value;
  position: relative;
  opacity: 0;
  transform: scale(5);
  transition: transform 1s, opacity 1s;
  width: $value;
  img {
      opacity: 0;
      transition: opacity 3s;
  }
  @media screen and (max-width: 940px) {
      display: none !important;
  }
  
}
.start{
    animation: border 1s ease 1 forwards;
    opacity: 1;
    transform: scale(1);
    transition: transform 1s, opacity 1s;
    img {
      animation: opacity 1s ease 1 forwards
    }
}


@keyframes border{
  0% {
    box-shadow: $anim-value $anim-value-negative 0 2px $white, $anim-value-negative $anim-value-negative 0 2px $white, $anim-value-negative $anim-value 0 2px $white, $anim-value $anim-value 0 2px $white, 0 0 0 2px #fff;
  }
  25% {
    box-shadow: $anim-value $anim-value-negative 0 2px $white, $anim-value-negative $anim-value-negative 0 2px $white, $anim-value-negative $anim-value 0 2px $white, $anim-value $anim-value 0 2px $white, 0 0 0 2px $color;
  }
  50% {
    box-shadow: $anim-value $anim-value-negative 0 2px $white, $anim-value-higher-negative 0px 0 2px $white, $anim-value-negative $anim-value 0 2px $white, $anim-value $anim-value 0 2px $white, 0 0 0 2px $color;
  }
  75% {
    box-shadow: $anim-value $anim-value-negative 0 2px $white, $anim-value-higher-negative 0px 0 2px $white, 0px $anim-value-higher 0 2px $white, $anim-value $anim-value 0 2px $white, 0 0 0 2px $color;
  }
  100% {
    box-shadow: $anim-value $anim-value-negative 0 2px $white, $anim-value-higher-negative 0px 0 2px transparent, 0px $anim-value-higher 0 2px transparent, $anim-value-higher 10px 0 2px transparent, 0 0 0 2px $color;
  } 
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: .25;
    }
    80% {
        opacity: .5;
    }
    85% {
        opacity: .75;
    }
    85% {
        opacity: .95;
    }
    100% {
        opacity: 1;
    }
}

