.circle {
  box-shadow: 25px -25px 0 2px #fff, -25px -25px 0 2px #fff, -25px 25px 0 2px #fff, 25px 25px 0 2px #fff, 0 0 0 2px #fff;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  height: 47px;
  position: relative;
  opacity: 0;
  transform: scale(5);
  transition: transform 1s, opacity 1s;
  width: 47px; }
  .circle img {
    opacity: 0;
    transition: opacity 3s; }
  @media screen and (max-width: 940px) {
    .circle {
      display: none !important; } }

.start {
  animation: border 1s ease 1 forwards;
  opacity: 1;
  transform: scale(1);
  transition: transform 1s, opacity 1s; }
  .start img {
    animation: opacity 1s ease 1 forwards; }

@keyframes border {
  0% {
    box-shadow: 25px -25px 0 2px #fff, -25px -25px 0 2px #fff, -25px 25px 0 2px #fff, 25px 25px 0 2px #fff, 0 0 0 2px #fff; }
  25% {
    box-shadow: 25px -25px 0 2px #fff, -25px -25px 0 2px #fff, -25px 25px 0 2px #fff, 25px 25px 0 2px #fff, 0 0 0 2px #a59585; }
  50% {
    box-shadow: 25px -25px 0 2px #fff, -51px 0px 0 2px #fff, -25px 25px 0 2px #fff, 25px 25px 0 2px #fff, 0 0 0 2px #a59585; }
  75% {
    box-shadow: 25px -25px 0 2px #fff, -51px 0px 0 2px #fff, 0px 51px 0 2px #fff, 25px 25px 0 2px #fff, 0 0 0 2px #a59585; }
  100% {
    box-shadow: 25px -25px 0 2px #fff, -51px 0px 0 2px transparent, 0px 51px 0 2px transparent, 51px 10px 0 2px transparent, 0 0 0 2px #a59585; } }
@keyframes opacity {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  70% {
    opacity: .25; }
  80% {
    opacity: .5; }
  85% {
    opacity: .75; }
  85% {
    opacity: .95; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=animations.css.map */
