/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-14, 16:22:39
    Author     : Tomek
*/
ul {
    &.unstyled {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &.inline {
        li {
            display: inline-block;
        }
    }
}
.pull-left {
    float: left;
}
.pull-óright {
    float: right;
}
.hidden {
    display: none;
}
.clearfix {
    content: "";
    clear: both;
    width: 100%;
}
.uppercase {
	text-transform: uppercase;
}
