* {
	font-family: 'Open Sans', sans-serif;
}
ul {
		list-style: none;
		margin-left: 17px;
		padding: 0;
	}
ul li:before  {
    background: url("../images/bullet.png") no-repeat center center;
    content: "";
    display: inline-block;
    height: 5px;
    vertical-align: middle;
    width: 20px;
	margin-left: -24px;
    margin-bottom: 3px;
	padding-right: 5px;
}
ul li:before span   {
	font-size: 15px;
}
ul li ul li:before  {
    background: url("../images/bullet2.png") no-repeat center center;
}
table.news-inside-table {
    img {
        display: block !important;
        height: auto !important;
        max-width: 100% !important;
    }
}