<a class="subpage-link back-link elipse-btn-with-arrow" id="medycyna" href="javascript: closeSubpage();">
	<img src="{{ asset('bundles/lscore/front/images/back-arrow.png') }}" alt="wróć" /><span>Wróć</span>
</a>
<h2 class="subpage-header">{{ entity.title }}</h2>
<div class="short-line"></div>
<div class="content">
	<p>
		{{ entity.content|raw }}
	</p>
</div>
{% if entity.gallery %}
    <div class="gallery offer-gallery">
        {% include "LsGalleryBundle:Front:_hasgallery.html.twig" with { gallery: entity.gallery } %}
    </div>
{% endif %}