{% extends '::backend.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_contact') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <td class="col-sm-3"><strong>Data wysłania</strong></td>
                        <td class="col-sm-9">{{ entity.createdat|localizeddate('long', 'medium') }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Imię i nazwisko</strong></td>
                        <td class="col-sm-9">{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Adres e-mail</strong></td>
                        <td class="col-sm-9">{{ entity.email }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Treść</strong></td>
                        <td class="col-sm-9">{{ entity.content|nl2br }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}